@page "/crypto-currency-exchange"
@using Soenneker.Blazor.TomSelect
@using Soenneker.Blazor.TomSelect.Base 
@using Soenneker.Blazor.TomSelect.Dtos
@using ApexCharts

<!-- TomSelect Css -->
<link rel="stylesheet" href="../assets/libs/tom-select/css/tom-select.bootstrap5.min.css">

            <div class="container-fluid">

                <!-- Page Header -->
                <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                    <h1 class="page-title fw-semibold fs-18 mb-0">Currency Exchange</h1>
                    <div class="ms-md-1 ms-0">
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Crypto</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Currency Exchange</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- Page Header Close -->

                <!-- Start::row-1 -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card custom-card currency-exchange-card">
                            <div class="card-body p-5 d-flex align-items-center justify-content-center">
                                <div class="container">
                                    <h3 class="text-fixed-white text-center">Buy and Sell Coins without additional fees</h3>
                                    <span class="d-block fs-16 text-fixed-white text-center op-8 mb-4">
                                        Buy now and get +50% extra bonus Minimum pre-sale amount 100 Crypto Coin. We accept BTC crypto-currency..
                                    </span>
                                    <div class="p-3 mb-4 rounded currency-exchange-area">
                                        <div class="row gy-3">
                                            <div class="col-xxl-3 col-12">
                                                <input type="text" class="form-control" value="0.0453" placeholder="Enter Amount">
                                            </div>
                                            <div class="col-xxl-2 col-12">
                                                <div>
                                                    <select class="form-control tomselect" id="currency">
                                                        <option value="Choice 1">Bitcoin</option> 
                                                        <option value="Choice 2">Etherium</option> 
                                                        <option value="Choice 3">Litecoin</option>
                                                        <option value="Choice 4">Ripple</option>
                                                        <option value="Choice 5">Cardano</option>
                                                        <option value="Choice 6">Neo</option>
                                                        <option value="Choice 7">Stellar</option>
                                                        <option value="Choice 8">EOS</option>
                                                        <option value="Choice 9">NEM</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xxl-2 col-12">
                                                <div class="fs-2 text-fixed-white text-center op-8 lh-1">
                                                    =
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-12">
                                                <input type="text" class="form-control" value="1350.93" placeholder="Exchange Amount">
                                            </div>
                                            <div class="col-xxl-2 col-12">
                                                <select class="form-control tomselect" id="currency2">
                                                    <option value="Choice 1">USD</option> 
                                                    <option value="Choice 2">Pound</option> 
                                                    <option value="Choice 3">Rupee</option>
                                                    <option value="Choice 4">Euro</option>
                                                    <option value="Choice 5">Won</option>
                                                    <option value="Choice 6">Dinar</option>
                                                    <option value="Choice 7">Rial</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-success btn-wave">Exchange Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End::row-1 -->

                <!-- Start:: row-2 -->
                <div class="row justify-content-center">
                    <div class="col-xl-3">
                        <div class="card custom-card overflow-hidden">
                            <div class="card-body mb-3">
                                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                                    <div>
                                        <div class="d-flex align-items-center gap-2 mb-3">
                                            <div class="lh-1">
                                                <span class="avatar avatar-rounded avatar-xs">
                                                    <img src="../assets/images/crypto-currencies/square-color/Bitcoin.svg" alt="">
                                                </span>
                                            </div>
                                            <h6 class="fw-semibold mb-0">Bitcoin - BTC</h6>
                                        </div>
                                        <span class="fs-25 d-flex align-items-center">24.3% <span class="fs-12 text-warning op-7 ms-2">+0.59<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span><span class="badge bg-success-transparent fs-10 ms-2">24H</span></span>
                                    </div>
                                    <div class="text-end">
                                        <span class="d-block fs-14 mb-1 text-primary">0.00434</span>
                                        <span class="d-block text-success fw-semibold">$30.29</span>
                                    </div>
                                </div>
                            </div>
                            <div id="btc-currency-chart" class="mt-1 w-100">
                                <ApexChart TItem="BtcCurrency" Options=BtcCurrencyChartOptions>
                                    <ApexPointSeries TItem="BtcCurrency" Items="BtcCurrencyChart" SeriesType="@SeriesType.Area" Color="rgba(132, 90, 223,0.5)" XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.BtcValue))"/>
                                </ApexChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card custom-card overflow-hidden">
                            <div class="card-body mb-3">
                                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                                    <div>
                                        <div class="d-flex align-items-center gap-2 mb-3">
                                            <div class="lh-1">
                                                <span class="avatar avatar-rounded avatar-xs">
                                                    <img src="../assets/images/crypto-currencies/square-color/Ethereum.svg" alt="">
                                                </span>
                                            </div>
                                            <h6 class="fw-semibold mb-0">Etherium - ETH</h6>
                                        </div>
                                        <span class="fs-25 d-flex align-items-center">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                                    </div>
                                    <div class="text-end">
                                        <span class="d-block fs-14 mb-1 text-secondary">1.2923</span>
                                        <span class="d-block text-success fw-semibold">$2,283.73</span>
                                    </div>
                                </div>
                            </div>
                            <div id="eth-currency-chart" class="mt-1 w-100">
                                <ApexChart TItem="EthCurrency" Options=EthCurrencyChartOptions>
                                    <ApexPointSeries TItem="EthCurrency" Items="EthCurrencyChart" SeriesType="@SeriesType.Area" Color="rgba(35, 183, 229,0.5)" XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.EthValue))"/>
                                </ApexChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card custom-card overflow-hidden">
                            <div class="card-body mb-3">
                                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                                    <div>
                                        <div class="d-flex align-items-center gap-2 mb-3">
                                            <div class="lh-1">
                                                <span class="avatar avatar-rounded avatar-xs">
                                                    <img src="../assets/images/crypto-currencies/square-color/Dash.svg" alt="">
                                                </span>
                                            </div>
                                            <h6 class="fw-semibold mb-0">Dash - DASH</h6>
                                        </div>
                                        <span class="fs-25 d-flex align-items-center">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                                    </div>
                                    <div class="text-end">
                                        <span class="d-block fs-14 mb-1 text-success">1.2923</span>
                                        <span class="d-block text-success fw-semibold">$2,283.73</span>
                                    </div>
                                </div>
                            </div>
                            <div id="dash-currency-chart" class="mt-1 w-100">
                                <ApexChart TItem="DashCurrency" Options=DashCurrencyChartOptions>
                                    <ApexPointSeries TItem="DashCurrency" Items="DashCurrencyChart" SeriesType="@SeriesType.Area" Color="rgba(38, 191, 148,0.5)" XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.DashValue))"/>
                                </ApexChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card custom-card overflow-hidden">
                            <div class="card-body mb-3">
                                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                                    <div>
                                        <div class="d-flex align-items-center gap-2 mb-3">
                                            <div class="lh-1">
                                                <span class="avatar avatar-rounded avatar-xs">
                                                    <img src="../assets/images/crypto-currencies/square-color/Litecoin.svg" alt="">
                                                </span>
                                            </div>
                                            <h6 class="fw-semibold mb-0">Litecoin - LTC</h6>
                                        </div>
                                        <span class="fs-25 d-flex align-items-center">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                                    </div>
                                    <div class="text-end">
                                        <span class="d-block fs-14 mb-1 text-warning">1.2923</span>
                                        <span class="d-block text-success fw-semibold">$2,283.73</span>
                                    </div>
                                </div>
                            </div>
                            <div id="ltc-currency-chart" class="mt-1 w-100">
                                <ApexChart TItem="LtcCurrency" Options=LtcCurrencyChartOptions>
                                    <ApexPointSeries TItem="LtcCurrency" Items="LtcCurrencyChart" SeriesType="@SeriesType.Area" Color="rgba(245, 184, 73,0.5)" XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.LtcValue))"/>
                                </ApexChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card custom-card overflow-hidden">
                            <div class="card-body mb-3">
                                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                                    <div>
                                        <div class="d-flex align-items-center gap-2 mb-3">
                                            <div class="lh-1">
                                                <span class="avatar avatar-rounded avatar-xs">
                                                    <img src="../assets/images/crypto-currencies/square-color/Ripple.svg" alt="">
                                                </span>
                                            </div>
                                            <h6 class="fw-semibold mb-0">Ripple - XRS</h6>
                                        </div>
                                        <span class="fs-25 d-flex align-items-center">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                                    </div>
                                    <div class="text-end">
                                        <span class="d-block fs-14 mb-1 text-pink">1.2923</span>
                                        <span class="d-block text-success fw-semibold">$2,283.73</span>
                                    </div>
                                </div>
                            </div>
                            <div id="xrs-currency-chart" class="mt-1 w-100">
                                <ApexChart TItem="XrsCurrency" Options=XrsCurrencyChartOptions>
                                    <ApexPointSeries TItem="XrsCurrency" Items="XrsCurrencyChart" SeriesType="@SeriesType.Area" Color="rgba(231, 145, 188,0.5)" XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.XrsValue))"/>
                                </ApexChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card custom-card overflow-hidden">
                            <div class="card-body mb-3">
                                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                                    <div>
                                        <div class="d-flex align-items-center gap-2 mb-3">
                                            <div class="lh-1">
                                                <span class="avatar avatar-rounded avatar-xs">
                                                    <img src="../assets/images/crypto-currencies/square-color/Golem.svg" alt="">
                                                </span>
                                            </div>
                                            <h6 class="fw-semibold mb-0">Golem - GLM</h6>
                                        </div>
                                        <span class="fs-25 d-flex align-items-center">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                                    </div>
                                    <div class="text-end">
                                        <span class="d-block fs-14 mb-1 text-purple">1.2923</span>
                                        <span class="d-block text-success fw-semibold">$2,283.73</span>
                                    </div>
                                </div>
                            </div>
                            <div id="glm-currency-chart" class="mt-1 w-100">
                                <ApexChart TItem="GlmCurrency" Options=GlmCurrencyChartOptions>
                                    <ApexPointSeries TItem="GlmCurrency" Items="GlmCurrencyChart" SeriesType="@SeriesType.Area" Color="rgba(137, 32, 173,0.5)" XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.GlmValue))"/>
                                </ApexChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card custom-card overflow-hidden">
                            <div class="card-body mb-3">
                                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                                    <div>
                                        <div class="d-flex align-items-center gap-2 mb-3">
                                            <div class="lh-1">
                                                <span class="avatar avatar-rounded avatar-xs">
                                                    <img src="../assets/images/crypto-currencies/square-color/Monero.svg" alt="">
                                                </span>
                                            </div>
                                            <h6 class="fw-semibold mb-0">Monero</h6>
                                        </div>
                                        <span class="fs-25 d-flex align-items-center">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                                    </div>
                                    <div class="text-end">
                                        <span class="d-block fs-14 mb-1 text-danger">1.2923</span>
                                        <span class="d-block text-success fw-semibold">$2,283.73</span>
                                    </div>
                                </div>
                            </div>
                            <div id="monero-currency-chart" class="mt-1 w-100">
                                <ApexChart TItem="MoneroCurrency" Options=MoneroCurrencyChartOptions>
                                    <ApexPointSeries TItem="MoneroCurrency" Items="MoneroCurrencyChart" SeriesType="@SeriesType.Area" Color="rgba(230, 83, 60,0.5)" XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.MoneroValue))"/>
                                </ApexChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card custom-card overflow-hidden">
                            <div class="card-body mb-3">
                                <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                                    <div>
                                        <div class="d-flex align-items-center gap-2 mb-3">
                                            <div class="lh-1">
                                                <span class="avatar avatar-rounded avatar-xs">
                                                    <img src="../assets/images/crypto-currencies/square-color/EOS.svg" alt="">
                                                </span>
                                            </div>
                                            <h6 class="fw-semibold mb-0">EOS</h6>
                                        </div>
                                        <span class="fs-25 d-flex align-items-center">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                                    </div>
                                    <div class="text-end">
                                        <span class="d-block fs-14 mb-1 text-info">1.2923</span>
                                        <span class="d-block text-success fw-semibold">$2,283.73</span>
                                    </div>
                                </div>
                            </div>
                            <div id="eos-currency-chart" class="mt-1 w-100">
                                <ApexChart TItem="EosCurrency" Options=EosCurrencyChartOptions>
                                    <ApexPointSeries TItem="EosCurrency" Items="EosCurrencyChart" SeriesType="@SeriesType.Area" Color="rgba(73, 182, 245,0.5)" XValue="@(e => e.Series)" YAggregate="@(e => e.Sum(e => e.EosValue))"/>
                                </ApexChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                         <div class="text-center my-4">
                            <button class="btn btn-primary-light" type="button" disabled>
                                <span class="spinner-border spinner-border-sm align-middle" role="status"
                                    aria-hidden="true"></span>
                                Loading...
                            </button>
                        </div>
                    </div>
                </div>
                <!-- End:: row-2 -->

            </div>

<!-- TomSelect JS -->
<script src="../assets/libs/tom-select/js/tom-select.complete.min.js"></script>

<!-- Tomselect JS -->
<script src="../assets/js/tomselect.js"></script>


@code {

    // Btc Currency SPARKLINE Start //
    private List<BtcCurrency> BtcCurrencyChart { get; set; } = BtcCurrencyData.GetBtcCurrencys();
    private ApexChartOptions<BtcCurrency> BtcCurrencyChartOptions { get; set; } = new();
    public class BtcCurrency {
        public string? Series { get; set; }
        public decimal BtcValue { get; set; }
        
    } ;
    public static class BtcCurrencyData {
            public static List<BtcCurrency> GetBtcCurrencys()
            {
                List<BtcCurrency> BtcCurrencyChart = new List<BtcCurrency>
                {
                    new BtcCurrency { Series = "1", BtcValue = 54},
                    new BtcCurrency { Series = "2", BtcValue = 38},
                    new BtcCurrency { Series = "3", BtcValue = 56},
                    new BtcCurrency { Series = "4", BtcValue = 35},
                    new BtcCurrency { Series = "5", BtcValue = 65},
                    new BtcCurrency { Series = "6", BtcValue = 43},
                    new BtcCurrency { Series = "7", BtcValue = 53},
                    new BtcCurrency { Series = "8", BtcValue = 45},
                    new BtcCurrency { Series = "9", BtcValue = 62},
                    new BtcCurrency { Series = "10", BtcValue = 80},
                    new BtcCurrency { Series = "11", BtcValue = 35},
                    new BtcCurrency { Series = "12", BtcValue = 48},

                };

                return BtcCurrencyChart;
            }
    }
    //  Btc Currency SPARKLINE End //
    
    // Eth Currency SPARKLINE Start //
    private List<EthCurrency> EthCurrencyChart { get; set; } = EthCurrencyData.GetEthCurrencys();
    private ApexChartOptions<EthCurrency> EthCurrencyChartOptions { get; set; } = new();
    public class EthCurrency {
        public string? Series { get; set; }
        public decimal EthValue { get; set; }
        
    } ;
    public static class EthCurrencyData {
            public static List<EthCurrency> GetEthCurrencys()
            {
                List<EthCurrency> EthCurrencyChart = new List<EthCurrency>
                {
                    new EthCurrency { Series = "1", EthValue = 54},
                    new EthCurrency { Series = "2", EthValue = 38},
                    new EthCurrency { Series = "3", EthValue = 56},
                    new EthCurrency { Series = "4", EthValue = 35},
                    new EthCurrency { Series = "5", EthValue = 65},
                    new EthCurrency { Series = "6", EthValue = 43},
                    new EthCurrency { Series = "7", EthValue = 53},
                    new EthCurrency { Series = "8", EthValue = 45},
                    new EthCurrency { Series = "9", EthValue = 62},
                    new EthCurrency { Series = "10", EthValue = 80},
                    new EthCurrency { Series = "11", EthValue = 35},
                    new EthCurrency { Series = "12", EthValue = 48},

                };

                return EthCurrencyChart;
            }
    }
    //  Eth Currency SPARKLINE End //
    
    // Dash Currency SPARKLINE Start //
    private List<DashCurrency> DashCurrencyChart { get; set; } = DashCurrencyData.GetDashCurrencys();
    private ApexChartOptions<DashCurrency> DashCurrencyChartOptions { get; set; } = new();
    public class DashCurrency {
        public string? Series { get; set; }
        public decimal DashValue { get; set; }
        
    } ;
    public static class DashCurrencyData {
            public static List<DashCurrency> GetDashCurrencys()
            {
                List<DashCurrency> DashCurrencyChart = new List<DashCurrency>
                {
                    new DashCurrency { Series = "1", DashValue = 54},
                    new DashCurrency { Series = "2", DashValue = 38},
                    new DashCurrency { Series = "3", DashValue = 56},
                    new DashCurrency { Series = "4", DashValue = 35},
                    new DashCurrency { Series = "5", DashValue = 65},
                    new DashCurrency { Series = "6", DashValue = 43},
                    new DashCurrency { Series = "7", DashValue = 53},
                    new DashCurrency { Series = "8", DashValue = 45},
                    new DashCurrency { Series = "9", DashValue = 62},
                    new DashCurrency { Series = "10", DashValue = 80},
                    new DashCurrency { Series = "11", DashValue = 35},
                    new DashCurrency { Series = "12", DashValue = 48},

                };

                return DashCurrencyChart;
            }
    }
    //  Dash Currency SPARKLINE End //

    // Ltc Currency SPARKLINE Start //
    private List<LtcCurrency> LtcCurrencyChart { get; set; } = LtcCurrencyData.GetLtcCurrencys();
    private ApexChartOptions<LtcCurrency> LtcCurrencyChartOptions { get; set; } = new();
    public class LtcCurrency {
        public string? Series { get; set; }
        public decimal LtcValue { get; set; }
        
    } ;
    public static class LtcCurrencyData {
            public static List<LtcCurrency> GetLtcCurrencys()
            {
                List<LtcCurrency> LtcCurrencyChart = new List<LtcCurrency>
                {
                    new LtcCurrency { Series = "1", LtcValue = 54},
                    new LtcCurrency { Series = "2", LtcValue = 38},
                    new LtcCurrency { Series = "3", LtcValue = 56},
                    new LtcCurrency { Series = "4", LtcValue = 35},
                    new LtcCurrency { Series = "5", LtcValue = 65},
                    new LtcCurrency { Series = "6", LtcValue = 43},
                    new LtcCurrency { Series = "7", LtcValue = 53},
                    new LtcCurrency { Series = "8", LtcValue = 45},
                    new LtcCurrency { Series = "9", LtcValue = 62},
                    new LtcCurrency { Series = "10", LtcValue = 80},
                    new LtcCurrency { Series = "11", LtcValue = 35},
                    new LtcCurrency { Series = "12", LtcValue = 48},

                };

                return LtcCurrencyChart;
            }
    }
    //  Ltc Currency SPARKLINE End //

    // Xrs Currency SPARKLINE Start //
    private List<XrsCurrency> XrsCurrencyChart { get; set; } = XrsCurrencyData.GetXrsCurrencys();
    private ApexChartOptions<XrsCurrency> XrsCurrencyChartOptions { get; set; } = new();
    public class XrsCurrency {
        public string? Series { get; set; }
        public decimal XrsValue { get; set; }
        
    } ;
    public static class XrsCurrencyData {
            public static List<XrsCurrency> GetXrsCurrencys()
            {
                List<XrsCurrency> XrsCurrencyChart = new List<XrsCurrency>
                {
                    new XrsCurrency { Series = "1", XrsValue = 54},
                    new XrsCurrency { Series = "2", XrsValue = 38},
                    new XrsCurrency { Series = "3", XrsValue = 56},
                    new XrsCurrency { Series = "4", XrsValue = 35},
                    new XrsCurrency { Series = "5", XrsValue = 65},
                    new XrsCurrency { Series = "6", XrsValue = 43},
                    new XrsCurrency { Series = "7", XrsValue = 53},
                    new XrsCurrency { Series = "8", XrsValue = 45},
                    new XrsCurrency { Series = "9", XrsValue = 62},
                    new XrsCurrency { Series = "10", XrsValue = 80},
                    new XrsCurrency { Series = "11", XrsValue = 35},
                    new XrsCurrency { Series = "12", XrsValue = 48},

                };

                return XrsCurrencyChart;
            }
    }
    //  Xrs Currency SPARKLINE End //

    // Glm Currency SPARKLINE Start //
    private List<GlmCurrency> GlmCurrencyChart { get; set; } = GlmCurrencyData.GetGlmCurrencys();
    private ApexChartOptions<GlmCurrency> GlmCurrencyChartOptions { get; set; } = new();
    public class GlmCurrency {
        public string? Series { get; set; }
        public decimal GlmValue { get; set; }
        
    } ;
    public static class GlmCurrencyData {
            public static List<GlmCurrency> GetGlmCurrencys()
            {
                List<GlmCurrency> GlmCurrencyChart = new List<GlmCurrency>
                {
                    new GlmCurrency { Series = "1", GlmValue = 54},
                    new GlmCurrency { Series = "2", GlmValue = 38},
                    new GlmCurrency { Series = "3", GlmValue = 56},
                    new GlmCurrency { Series = "4", GlmValue = 35},
                    new GlmCurrency { Series = "5", GlmValue = 65},
                    new GlmCurrency { Series = "6", GlmValue = 43},
                    new GlmCurrency { Series = "7", GlmValue = 53},
                    new GlmCurrency { Series = "8", GlmValue = 45},
                    new GlmCurrency { Series = "9", GlmValue = 62},
                    new GlmCurrency { Series = "10", GlmValue = 80},
                    new GlmCurrency { Series = "11", GlmValue = 35},
                    new GlmCurrency { Series = "12", GlmValue = 48},

                };

                return GlmCurrencyChart;
            }
    }
    //  Glm Currency SPARKLINE End //

    // Monero Currency SPARKLINE Start //
    private List<MoneroCurrency> MoneroCurrencyChart { get; set; } = MoneroCurrencyData.GetMoneroCurrencys();
    private ApexChartOptions<MoneroCurrency> MoneroCurrencyChartOptions { get; set; } = new();
    public class MoneroCurrency {
        public string? Series { get; set; }
        public decimal MoneroValue { get; set; }
        
    } ;
    public static class MoneroCurrencyData {
            public static List<MoneroCurrency> GetMoneroCurrencys()
            {
                List<MoneroCurrency> MoneroCurrencyChart = new List<MoneroCurrency>
                {
                    new MoneroCurrency { Series = "1", MoneroValue = 54},
                    new MoneroCurrency { Series = "2", MoneroValue = 38},
                    new MoneroCurrency { Series = "3", MoneroValue = 56},
                    new MoneroCurrency { Series = "4", MoneroValue = 35},
                    new MoneroCurrency { Series = "5", MoneroValue = 65},
                    new MoneroCurrency { Series = "6", MoneroValue = 43},
                    new MoneroCurrency { Series = "7", MoneroValue = 53},
                    new MoneroCurrency { Series = "8", MoneroValue = 45},
                    new MoneroCurrency { Series = "9", MoneroValue = 62},
                    new MoneroCurrency { Series = "10", MoneroValue = 80},
                    new MoneroCurrency { Series = "11", MoneroValue = 35},
                    new MoneroCurrency { Series = "12", MoneroValue = 48},

                };

                return MoneroCurrencyChart;
            }
    }
    //  Monero Currency SPARKLINE End //

    // Eos Currency SPARKLINE Start //
    private List<EosCurrency> EosCurrencyChart { get; set; } = EosCurrencyData.GetEosCurrencys();
    private ApexChartOptions<EosCurrency> EosCurrencyChartOptions { get; set; } = new();
    public class EosCurrency {
        public string? Series { get; set; }
        public decimal EosValue { get; set; }
        
    } ;
    public static class EosCurrencyData {
            public static List<EosCurrency> GetEosCurrencys()
            {
                List<EosCurrency> EosCurrencyChart = new List<EosCurrency>
                {
                    new EosCurrency { Series = "1", EosValue = 54},
                    new EosCurrency { Series = "2", EosValue = 38},
                    new EosCurrency { Series = "3", EosValue = 56},
                    new EosCurrency { Series = "4", EosValue = 35},
                    new EosCurrency { Series = "5", EosValue = 65},
                    new EosCurrency { Series = "6", EosValue = 43},
                    new EosCurrency { Series = "7", EosValue = 53},
                    new EosCurrency { Series = "8", EosValue = 45},
                    new EosCurrency { Series = "9", EosValue = 62},
                    new EosCurrency { Series = "10", EosValue = 80},
                    new EosCurrency { Series = "11", EosValue = 35},
                    new EosCurrency { Series = "12", EosValue = 48},

                };

                return EosCurrencyChart;
            }
    }
    //  Eos Currency SPARKLINE End //
    protected override void OnInitialized() {
        
        BtcCurrencyChartOptions = new ApexChartOptions<BtcCurrency> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Height ="60px",
                Sparkline = new () {
                    Enabled = true
                },
                DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Color = "#fff",
                    Top = 0,
                    Left = 0,
                    Blur = 1,
                    Opacity = 0.05
                }
            }, 
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                Width = 1.5,
            },
            Fill = new Fill {
                Type = new List<FillType> { FillType.Gradient},
            },
            Tooltip = new ApexCharts.Tooltip {
                Enabled = false,
            },
        };
        
        EthCurrencyChartOptions = new ApexChartOptions<EthCurrency> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Height ="60px",
                Sparkline = new () {
                    Enabled = true
                },
                DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Color = "#fff",
                    Top = 0,
                    Left = 0,
                    Blur = 1,
                    Opacity = 0.05
                }
            }, 
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                Width = 1.5,
            },
            Fill = new Fill {
                Type = new List<FillType> { FillType.Gradient},
            },
            Tooltip = new ApexCharts.Tooltip {
                Enabled = false,
            },
        }; 
        
        DashCurrencyChartOptions = new ApexChartOptions<DashCurrency> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Height ="60px",
                Sparkline = new () {
                    Enabled = true
                },
                DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Color = "#fff",
                    Top = 0,
                    Left = 0,
                    Blur = 1,
                    Opacity = 0.05
                }
            }, 
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                Width = 1.5,
            },
            Fill = new Fill {
                Type = new List<FillType> { FillType.Gradient},
            },
            Tooltip = new ApexCharts.Tooltip {
                Enabled = false,
            },
        }; 
        
        LtcCurrencyChartOptions = new ApexChartOptions<LtcCurrency> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Height ="60px",
                Sparkline = new () {
                    Enabled = true
                },
                DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Color = "#fff",
                    Top = 0,
                    Left = 0,
                    Blur = 1,
                    Opacity = 0.05
                }
            }, 
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                Width = 1.5,
            },
            Fill = new Fill {
                Type = new List<FillType> { FillType.Gradient},
            },
            Tooltip = new ApexCharts.Tooltip {
                Enabled = false,
            },
        };

        XrsCurrencyChartOptions = new ApexChartOptions<XrsCurrency> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Height ="60px",
                Sparkline = new () {
                    Enabled = true
                },
                DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Color = "#fff",
                    Top = 0,
                    Left = 0,
                    Blur = 1,
                    Opacity = 0.05
                }
            }, 
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                Width = 1.5,
            },
            Fill = new Fill {
                Type = new List<FillType> { FillType.Gradient},
            },
            Tooltip = new ApexCharts.Tooltip {
                Enabled = false,
            },
        };

        GlmCurrencyChartOptions = new ApexChartOptions<GlmCurrency> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Height ="60px",
                Sparkline = new () {
                    Enabled = true
                },
                DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Color = "#fff",
                    Top = 0,
                    Left = 0,
                    Blur = 1,
                    Opacity = 0.05
                }
            }, 
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                Width = 1.5,
            },
            Fill = new Fill {
                Type = new List<FillType> { FillType.Gradient},
            },
            Tooltip = new ApexCharts.Tooltip {
                Enabled = false,
            },
        };

         MoneroCurrencyChartOptions = new ApexChartOptions<MoneroCurrency> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Height ="60px",
                Sparkline = new () {
                    Enabled = true
                },
                DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Color = "#fff",
                    Top = 0,
                    Left = 0,
                    Blur = 1,
                    Opacity = 0.05
                }
            }, 
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                Width = 1.5,
            },
            Fill = new Fill {
                Type = new List<FillType> { FillType.Gradient},
            },
            Tooltip = new ApexCharts.Tooltip {
                Enabled = false,
            },
        };

         EosCurrencyChartOptions = new ApexChartOptions<EosCurrency> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Height ="60px",
                Sparkline = new () {
                    Enabled = true
                },
                DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Color = "#fff",
                    Top = 0,
                    Left = 0,
                    Blur = 1,
                    Opacity = 0.05
                }
            }, 
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                Width = 1.5,
            },
            Fill = new Fill {
                Type = new List<FillType> { FillType.Gradient},
            },
            Tooltip = new ApexCharts.Tooltip {
                Enabled = false,
            },
        };


    }
}
    