@page "/apex-timeline-charts"

            <div class="container-fluid">

                <!-- Page Header -->
                <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                    <h1 class="page-title fw-semibold fs-18 mb-0">Timeline Charts</h1>
                    <div class="ms-md-1 ms-0">
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Apex Charts</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Timeline Charts</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- Page Header Close -->

                <!-- Start::row-1 -->
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Basic TImeline Chart</div>
                            </div>
                            <div class="card-body">
                                <div id="timeline-basic">
                                     <ApexChart TItem="BasicTImeline" Height="320" Options=BasicTImelineoptions XAxisType="XAxisType.Datetime">
                                            <ApexRangeSeries TItem="BasicTImeline" Items="BasicTImelineChart" XValue="@(e => e.Name)"
                                                YMinValue="@(e =>e.StartDate.ToUnixTimeMilliseconds())"
                                                YMaxValue="@(e =>e.EndDate.ToUnixTimeMilliseconds())" />
                                    </ApexChart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Multiple Colored TImeline Chart</div>
                            </div>
                            <div class="card-body">
                                <div id="timeline-colors">
                                     <ApexChart TItem="MultiColoredTImeline" Height="320" Options=MultiColoredTImelineoptions XAxisType="XAxisType.Datetime">
                                            <ApexRangeSeries TItem="MultiColoredTImeline" Items="MultiColoredTImelineChart" XValue="@(e => e.Name)"
                                                YMinValue="@(e =>e.StartDate.ToUnixTimeMilliseconds())"
                                                YMaxValue="@(e =>e.EndDate.ToUnixTimeMilliseconds())"
                                                PointColor="e=> e.PointColor" />
                                    </ApexChart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Multi Series Timeline Chart</div>
                            </div>
                            <div class="card-body">
                                <div id="timeline-multi">
                                    <ApexChart TItem="Activity" Height="320" Options=MultiseriesTImelineoptions Debug XAxisType="XAxisType.Datetime">
                                        @foreach (var personGroup in activities.GroupBy(e => e.Person))
                                        {
                                            <ApexRangeSeries TItem="Activity" Items="personGroup" XValue="@(e=> e.Name)" YMinValue="@(e=> e.Start.ToUnixTimeMilliseconds())" YMaxValue="@(e=> e.End.ToUnixTimeMilliseconds())" Name="@personGroup.Key" />
                                        }
                                    </ApexChart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Advanced Timeline Chart</div>
                            </div>
                            <div class="card-body">
                                <div id="timeline-advanced">
                                    <ApexChart TItem="Activity2" Height="320" Options=AdvancedTImelineoptions Debug XAxisType="XAxisType.Datetime">
                                        @foreach (var personGroup2 in activities2.GroupBy(e => e.Person2))
                                        {
                                            <ApexRangeSeries TItem="Activity2" Items="personGroup2" XValue="@(e=> e.Name)" YMinValue="@(e=> e.Start.ToUnixTimeMilliseconds())" YMaxValue="@(e=> e.End.ToUnixTimeMilliseconds())" Name="@personGroup2.Key" />
                                        }
                                    </ApexChart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Timeline-Grouped Rows</div>
                            </div>
                            <div class="card-body">
                                <div id="timeline-grouped">
                                    <ApexChart TItem="Activity3" Height="320" Options=GroupedTImelineoptions Debug XAxisType="XAxisType.Datetime">
                                        @foreach (var personGroup3 in activities3.GroupBy(e => e.Person3))
                                        {
                                            <ApexRangeSeries TItem="Activity3" Items="personGroup3" XValue="@(e=> e.Name)" YMinValue="@(e=> e.Start.ToUnixTimeMilliseconds())" YMaxValue="@(e=> e.End.ToUnixTimeMilliseconds())" Name="@personGroup3.Key" />
                                        }
                                    </ApexChart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End::row-1 -->

            </div>

@code {

    // Basic TImeline Chart Start //
    private List<BasicTImeline> BasicTImelineChart { get; set; } = BasicTImelineData.GetBasicTImelines();
    private ApexChartOptions<BasicTImeline> BasicTImelineoptions { get; set; } = new();
    public class BasicTImeline {
        public string? Name { get; set; }
        public DateTime StartDate { get; set; }
        public DateTime EndDate { get; set; }
        
    } ;
    public static class BasicTImelineData {
            public static List<BasicTImeline> GetBasicTImelines()
            {
                List<BasicTImeline> BasicTImelineChart = new List<BasicTImeline>
                {
                    new BasicTImeline { Name = "Code", StartDate = DateTime.Now.AddDays(-10), EndDate = DateTime.Now.AddDays(0)},
                    new BasicTImeline { Name = "Test", StartDate = DateTime.Now.AddDays(0), EndDate = DateTime.Now.AddDays(20)},
                    new BasicTImeline { Name = "Validation", StartDate = DateTime.Now.AddDays(20), EndDate = DateTime.Now.AddDays(40)},
                    new BasicTImeline { Name = "Deployment", StartDate = DateTime.Now.AddDays(40), EndDate = DateTime.Now.AddDays(70)},

                };

                return BasicTImelineChart;
            }
        }
    //  Basic TImeline Chart End //

    // MultiColored TImeline Chart Start //
    private List<MultiColoredTImeline> MultiColoredTImelineChart { get; set; } = MultiColoredTImelineData.GetMultiColoredTImelines();
    private ApexChartOptions<MultiColoredTImeline> MultiColoredTImelineoptions { get; set; } = new();
    public class MultiColoredTImeline {
        public string? Name { get; set; }
        public DateTime StartDate { get; set; }
        public DateTime EndDate { get; set; }
        public string? PointColor { get; set; }
        
    } ;
    public static class MultiColoredTImelineData {
            public static List<MultiColoredTImeline> GetMultiColoredTImelines()
            {
                List<MultiColoredTImeline> MultiColoredTImelineChart = new List<MultiColoredTImeline>
                {
                    new MultiColoredTImeline { Name = "Analysis", StartDate = DateTime.Now.AddDays(-10), EndDate = DateTime.Now.AddDays(0), PointColor="var(--primary-color)"},
                    new MultiColoredTImeline { Name = "Design", StartDate = DateTime.Now.AddDays(0), EndDate = DateTime.Now.AddDays(20), PointColor="#23b7e5"},
                    new MultiColoredTImeline { Name = "Coding", StartDate = DateTime.Now.AddDays(20), EndDate = DateTime.Now.AddDays(40), PointColor="#f5b849"},
                    new MultiColoredTImeline { Name = "Testing", StartDate = DateTime.Now.AddDays(40), EndDate = DateTime.Now.AddDays(70), PointColor="#49b6f5"},
                    new MultiColoredTImeline { Name = "Deployment", StartDate = DateTime.Now.AddDays(70), EndDate = DateTime.Now.AddDays(90), PointColor="#e6533c"},

                };

                return MultiColoredTImelineChart;
            }
        }
    //  MultiColored TImeline Chart End //

    // Multiseries TImeline Chart Start //
     private List<Activity> activities { get; set; } = new();
    private ApexChartOptions<Activity> MultiseriesTImelineoptions { get; set; } = new();

    private class Activity
    {
        public string? Person { get; set; }
        public string? Name { get; set; }
        public DateTime Start { get; set; }
        public DateTime End { get; set; }
    }
    //  Multiseries TImeline Chart End //

    // Advanced TImeline Chart Start //
     private List<Activity2> activities2 { get; set; } = new();
    private ApexChartOptions<Activity2> AdvancedTImelineoptions { get; set; } = new();
    private class Activity2
    {
        public string? Person2 { get; set; }
        public string? Name { get; set; }
        public DateTime Start { get; set; }
        public DateTime End { get; set; }
    }
    //  Advanced TImeline Chart End //

    // Grouped TImeline Chart Start //
     private List<Activity3> activities3 { get; set; } = new();
    private ApexChartOptions<Activity3> GroupedTImelineoptions { get; set; } = new();
    private class Activity3
    {
        public string? Person3 { get; set; }
        public string? Name { get; set; }
        public DateTime Start { get; set; }
        public DateTime End { get; set; }
    }
    //  Grouped TImeline Chart End //
     protected override void OnInitialized()
    {
        BasicTImelineoptions = new ApexChartOptions<BasicTImeline>
        {
            Grid = new Grid {
                BorderColor = "#f2f5f7",
            },
            Colors = new Color(new List<string> { "var(--primary-color)" }),
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    Horizontal = true
                }
            },
            Tooltip = new ApexCharts.Tooltip
            {
                X = new TooltipX
                {
                    Format = "dd MMM yyyy HH:mm"
                }
            },
            Xaxis =  new XAxis {  
                Labels = new XAxisLabels {
                    Show = true,
                    Style = new() {
                        Colors = "#8c9097",
                        FontSize = "11px",
                        FontWeight = 600,
                        CssClass = "apexcharts-xaxis-label",
                    },
                }
            },
            Yaxis = new List<YAxis>() {
                new YAxis // Define the first YAxis object
                {
                    Labels = new YAxisLabels
                    {
                        Show = true,
                        Style = new() {
                            Colors = "#8c9097",
                            FontSize = "11px",
                            FontWeight = 600,
                            CssClass = "apexcharts-yaxis-label",
                        },
                    }, 
                }
            },
        };
        
        MultiColoredTImelineoptions = new ApexChartOptions<MultiColoredTImeline>
        {
            Grid = new Grid {
                BorderColor = "#f2f5f7",
            },
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    Distributed= true,
                    Horizontal = true,
                    DataLabels = new() {
                        HideOverflowingLabels = false
                    }
                }
            },
            DataLabels = new ApexCharts.DataLabels {
                Enabled = true,
                Formatter = @"function (val, opts) {
                    var label = opts.w.globals.labels[opts.dataPointIndex]
                    var a = moment(val[0])
                    var b = moment(val[1])
                    var diff = b.diff(a, 'days')
                    return label + ': ' + diff + (diff > 1 ? ' days' : ' day')
                }",
                Style= new() {
                    Colors = ["#f3f4f5", "#fff"]
                }
            }, 
            Tooltip = new ApexCharts.Tooltip 
            {
                X = new TooltipX
                {
                    Format = "dd MMM yyyy HH:mm"
                }
            },
            Xaxis =  new XAxis {  
                Labels = new XAxisLabels {
                    Show = true,
                    Style = new() {
                        Colors = "#8c9097",
                        FontSize = "11px",
                        FontWeight = 600,
                        CssClass = "apexcharts-xaxis-label",
                    },
                }
            },
            Yaxis = new List<YAxis>() {
                new YAxis 
                {
                    Show = false, 
                }
            },
        };

        var date = DateTime.Now;
        activities.Add(new Activity { Person = "Bob", Name = "Design", Start = date.AddDays(-30), End = date.AddDays(-10) });
        activities.Add(new Activity { Person = "Bob", Name = "Code", Start = date.AddDays(-15), End = date });
        activities.Add(new Activity { Person = "Bob", Name = "Test", Start = date.AddDays(-4), End = date.AddDays(5) });

        activities.Add(new Activity { Person = "Peter", Name = "Design", Start = date.AddDays(-35), End = date.AddDays(-6) });
        activities.Add(new Activity { Person = "Peter", Name = "Code", Start = date.AddDays(-20), End = date.AddDays(-5) });
        activities.Add(new Activity { Person = "Peter", Name = "Test", Start = date.AddDays(10), End = date.AddDays(5) });

        MultiseriesTImelineoptions = new ApexChartOptions<Activity>
        {
            Colors = new Color(new List<string> { "var(--primary-color)","rgb(35, 183, 229)" }),
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    Horizontal = true,
                    RangeBarOverlap = false,
                    BarHeight = "60%"
                }
            },
            DataLabels = new ApexCharts.DataLabels {
                Enabled = true,
                Formatter = @"function (val) {
                    var a = moment(val[0])
                    var b = moment(val[1])
                    var diff = b.diff(a, 'days')
                    return diff + (diff > 1 ? ' days' : ' day')
                }",
            }, 
            Fill = new Fill {
                Type = new List<FillType> { FillType.Gradient},
                Gradient = new ApexCharts.FillGradient {
                    ShadeIntensity = 0.25,
                    Shade = ApexCharts.GradientShade.Light,
                    Type = ApexCharts.GradientType.Vertical,
                    GradientToColors = new Color(new List<string> {"rgba(132, 90, 223,0.8)","rgba(35, 183, 229,0.8)"}),
                    OpacityFrom = 1,
                    OpacityTo = 1,
                    Stops = [50, 0, 100, 100],
                }
            },
        };

        var date2 = DateTime.Now;
        activities2.Add(new Activity2 { Person2 = "Bob", Name = "Design", Start = date2.AddDays(-30), End = date2.AddDays(-10) });
        activities2.Add(new Activity2 { Person2 = "Bob", Name = "Code", Start = date2.AddDays(-15), End = date2 });
        activities2.Add(new Activity2 { Person2 = "Bob", Name = "Code", Start = date2.AddDays(-4), End = date2.AddDays(5) });
        activities2.Add(new Activity2 { Person2 = "Bob", Name = "Test", Start = date2.AddDays(-30), End = date2.AddDays(-10) });
        activities2.Add(new Activity2 { Person2 = "Bob", Name = "Test", Start = date2.AddDays(-5), End = date2.AddDays(10)});
        activities2.Add(new Activity2 { Person2 = "Bob", Name = "Validation", Start = date2.AddDays(-4), End = date2.AddDays(5) });
        activities2.Add(new Activity2 { Person2 = "Bob", Name = "Design", Start = date2.AddDays(-15), End = date2 });

        activities2.Add(new Activity2 { Person2 = "Peter", Name = "Design", Start = date2.AddDays(-35), End = date2.AddDays(-6) });
        activities2.Add(new Activity2 { Person2 = "Peter", Name = "Code", Start = date2.AddDays(-20), End = date2.AddDays(-5) });
        activities2.Add(new Activity2 { Person2 = "Peter", Name = "Test", Start = date2.AddDays(10), End = date2.AddDays(5) });

        activities2.Add(new Activity2 { Person2 = "Dan", Name = "Design", Start = date2.AddDays(-30), End = date2.AddDays(-10) });
        activities2.Add(new Activity2 { Person2 = "Dan", Name = "Code", Start = date2.AddDays(-15), End = date2 });
        activities2.Add(new Activity2 { Person2 = "Dan", Name = "Test", Start = date2.AddDays(-4), End = date2.AddDays(5) });

        AdvancedTImelineoptions = new ApexChartOptions<Activity2>
        {
            Colors = new Color(new List<string> { "#845adf", "#23b7e5", "#f5b849"}),
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    Horizontal = true,
                    @* RangeBarGroupRows = true, *@
                    RangeBarOverlap = true,
                    BarHeight = "80%"
                }
            },
            DataLabels = new ApexCharts.DataLabels {
                Enabled = true,
                Formatter = @"function (val) {
                    var a = moment(val[0])
                    var b = moment(val[1])
                    var diff = b.diff(a, 'days')
                    return diff + (diff > 1 ? ' days' : ' day')
                }",
            }, 
            Stroke = new Stroke { 
                Width = 1,
            }, 
            Fill = new Fill {
                Type = new List<FillType> { FillType.Solid},
                Opacity= 0.6
            },
            Legend = new Legend  { 
                Show=true,
                Position = LegendPosition.Top,
                HorizontalAlign = Align.Center,
            }, 
        };

         var date3 = DateTime.Now;
        activities3.Add(new Activity3 { Person3 = "George Washington", Name = "President", Start = date3.AddDays(-40), End = date3.AddDays(-30) });
        activities3.Add(new Activity3 { Person3 = "John Adams", Name = "President", Start = date3.AddDays(-30), End = date3.AddDays(-25) });
        activities3.Add(new Activity3 { Person3 = "Thomas Jefferson", Name = "President", Start = date3.AddDays(-25), End = date3.AddDays(-15) });

        activities3.Add(new Activity3 { Person3 = "John Adams", Name = "Vice President", Start = date3.AddDays(-40), End = date3.AddDays(-30) });
        activities3.Add(new Activity3 { Person3 = "Thomas Jefferson", Name = "Vice President", Start = date3.AddDays(-30), End = date3.AddDays(-25) });
        activities3.Add(new Activity3 { Person3 = "Aaron Burr", Name = "Vice President", Start = date3.AddDays(-25), End = date3.AddDays(-20) });
        activities3.Add(new Activity3 { Person3 = "George Clinton", Name = "Vice President", Start = date3.AddDays(-20), End = date3.AddDays(-10) });

        activities3.Add(new Activity3 { Person3 = "John Jay", Name = "Secretary of State", Start = date3.AddDays(-40), End = date3.AddDays(-38) });
        activities3.Add(new Activity3 { Person3 = "Thomas Jefferson", Name = "Secretary of State", Start = date3.AddDays(-38), End = date3.AddDays(-33) });
        activities3.Add(new Activity3 { Person3 = "Edmund Randolph", Name = "Secretary of State", Start = date3.AddDays(-33), End = date3.AddDays(-30) });
        activities3.Add(new Activity3 { Person3 = "Timothy Pickering", Name = "Secretary of State", Start = date3.AddDays(-30), End = date3.AddDays(-25) });
        activities3.Add(new Activity3 { Person3 = "Charles Lee", Name = "Secretary of State", Start = date3.AddDays(-25), End = date3.AddDays(-24) });
        activities3.Add(new Activity3 { Person3 = "John Marshall", Name = "Secretary of State", Start = date3.AddDays(-24), End = date3.AddDays(-21) });
        activities3.Add(new Activity3 { Person3 = "Levi Lincoln", Name = "Secretary of State", Start = date3.AddDays(-21), End = date3.AddDays(-20) });
        activities3.Add(new Activity3 { Person3 = "James Madison", Name = "Secretary of State", Start = date3.AddDays(-20), End = date3.AddDays(-10) });

        GroupedTImelineoptions = new ApexChartOptions<Activity3>
        {
            Colors = new Color(new List<string> {  "#845adf", "#23b7e5", "#f5b849", "#e6533c", "#5b67c7",
            "#3F51B5", "#546E7A", "#D4526E", "#8D5B4C", "#F86624",
            "#D7263D", "#1B998B", "#2E294E", "#F46036", "#E2C044"}),
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    Horizontal = true,
                    RangeBarGroupRows = true,
                    RangeBarOverlap = true,
                    BarHeight = "50%"
                }
            },
            DataLabels = new ApexCharts.DataLabels {
                Enabled = true,
                Formatter = @"function (val) {
                    var a = moment(val[0])
                    var b = moment(val[1])
                    var diff = b.diff(a, 'days')
                    return diff + (diff > 1 ? ' days' : ' day')
                }",
            }, 
            Stroke = new Stroke { 
                Width = 1,
            }, 
            @* Fill = new Fill {
                Type = new List<FillType> { FillType.Solid},
                Opacity= 0.6
            }, *@
            Legend = new Legend  { 
                Show=true,
                Position = LegendPosition.Right,
            }, 
        };


    }
}
