@page "/apex-area-charts"
@using ApexCharts
@using System.Collections.Generic

<div class="container-fluid">
    <!-- Page Header -->
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
        <h1 class="page-title fw-semibold fs-18 mb-0">Apex Area Charts</h1>
        <div class="ms-md-1 ms-0">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Apex Charts</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Apex Area Charts</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header Close -->

    <!-- Start::row-1 -->   
    <div class="row">
        <div class="col-xl-6">  
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Basic Area Chart</div>
                </div>
                <div class="card-body">
                    <ApexChart TItem="Areabasicchart" Height="320" Title="Fundamental Analysis of Stocks" Options=BasicAreaChartOptions  XAxisType="XAxisType.Datetime">
                        <ApexPointSeries TItem="Areabasicchart" Items="Areabasiccharts" Name="STOCK ABC"  SeriesType="SeriesType.Area" XValue="@(e => e.StockValue)" YAggregate="@(e => e.Sum(e => e.prices))" />
                    </ApexChart>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Spline Area Chart</div>
                </div>
                <div class="card-body">
                    <ApexChart TItem="AreaSplinechart" Height="320" Options=SplineAreaChartOptions  XAxisType="XAxisType.Datetime">
                        <ApexPointSeries TItem="AreaSplinechart" Items="AreaSplinecharts" Name="Series-1"  SeriesType="SeriesType.Area" XValue="@(e => e.SeriesValue)" YAggregate="@(e => e.Sum(e => e.Series1Value))" />
                        <ApexPointSeries TItem="AreaSplinechart" Items="AreaSplinecharts" Name="Series-2"  SeriesType="SeriesType.Area" XValue="@(e => e.SeriesValue)" YAggregate="@(e => e.Sum(e => e.Series2Value))" />
                    </ApexChart>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Area Chart With Negative Values</div>
                </div>
                <div class="card-body">
                    <ApexChart TItem="AreaNegativechart" Height="355" Title="Area with Negative Values" Options=NegativeAreaChartOptions>
                        <ApexPointSeries TItem="AreaNegativechart" Items="AreaNegativecharts" Name="North"  SeriesType="SeriesType.Area" XValue="@(e => e.Year)" YAggregate="@(e => e.Sum(e => e.North))" />
                        <ApexPointSeries TItem="AreaNegativechart" Items="AreaNegativecharts" Name="South"  SeriesType="SeriesType.Area" XValue="@(e => e.Year)" YAggregate="@(e => e.Sum(e => e.South))" />
                    </ApexChart>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Selection-Github Style Chart</div>
                </div>
                <div class="card-body">
                    <div id="chart-months">
                            <ApexChart TItem="TimeSeries" Options=BrushAreaChartOptions Height="140" XAxisType="XAxisType.Datetime">
                                <ApexPointSeries TItem="TimeSeries" Items="Brushdata" Name="Value" SeriesType="SeriesType.Area" XValue="@(e => e.Date)"
                                            YAggregate="@(e => e.Sum(e => e.Value))"  />
                            </ApexChart>
                    </div>
                    <div class="github-style d-flex align-items-center">
                        <div class="me-2">
                            <img class="userimg rounded" src="../assets/images/faces/1.jpg"
                                data-hovercard-user-id="634573" alt="" width="38" height="38">
                        </div>
                        <div class="userdetails lh-1">
                            <a class="username fw-semibold fs-14">coder</a>
                            <span class="cmeta d-block mt-1">
                                <span class="commits"></span> commits
                            </span>
                        </div>
                    </div>
                    <div id="chart-years">
                        <ApexChart TItem="TimeSeries" Options=Brush2AreaChartOptions Height="160" XAxisType="XAxisType.Datetime">
                            <ApexPointSeries TItem="TimeSeries" Items="Brushdata" Name="Quantity" SeriesType="SeriesType.Area" XValue="@(e => e.Date)"
                                        YValue="@(e => e.Quantity)" />
                        </ApexChart>
                </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Stacked Area Chart</div>
                </div>
                <div class="card-body">
                    <div id="area-stacked">
                        <ApexChart TItem="AreaStackedchart" Height="350" Options=StackedAreaChartOptions  XAxisType="XAxisType.Datetime">
                            <ApexPointSeries TItem="AreaStackedchart" Items="AreaStackedcharts" Name="South"  SeriesType="SeriesType.Area" XValue="@(e => e.StackedDate)" YAggregate="@(e => e.Sum(e => e.South))" />
                            <ApexPointSeries TItem="AreaStackedchart" Items="AreaStackedcharts" Name="North"  SeriesType="SeriesType.Area" XValue="@(e => e.StackedDate)" YAggregate="@(e => e.Sum(e => e.North))" />
                            <ApexPointSeries TItem="AreaStackedchart" Items="AreaStackedcharts" Name="Central"  SeriesType="SeriesType.Area" XValue="@(e => e.StackedDate)" YAggregate="@(e => e.Sum(e => e.Central))" />
                        </ApexChart>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Irregular Time Series Chart</div>
                </div>
                <div class="card-body">
                    <div id="area-irregular">
                        <ApexChart TItem="AreaIrregularchart" Title="Irregular Data in Time Series" Height="350" Options=IrregularAreaChartOptions>
                            <ApexPointSeries TItem="AreaIrregularchart" Items="AreaIrregularcharts" Name="Product A"  SeriesType="SeriesType.Area" XValue="@(e => e.IrregularDate)" YValue="@(e => e.ProductA)" />
                            <ApexPointSeries TItem="AreaIrregularchart" Items="AreaIrregularcharts" Name="Product B"  SeriesType="SeriesType.Area" XValue="@(e => e.IrregularDate)" YValue="@(e => e.ProductB)" />
                            <ApexPointSeries TItem="AreaIrregularchart" Items="AreaIrregularcharts" Name="Product C"  SeriesType="SeriesType.Area" XValue="@(e => e.IrregularDate)" YValue="@(e => e.ProductC)" />
                        </ApexChart>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Area Chart With Null Values</div>
                </div>
                <div class="card-body">
                    <ApexChart TItem="AreaNullValueschart" Height="320" Title="Network Monitoring" Options=NullValuesAreaChartOptions  XAxisType="XAxisType.Datetime">
                        <ApexPointSeries TItem="AreaNullValueschart" Items="AreaNullValuescharts" Name="Network"  SeriesType="SeriesType.Area" XValue="@(e => e.NetworkDate)" YValue="@(e => e.Network)" />
                    </ApexChart>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Area Chart-Datetime X-Axis Chart</div>
                </div>
                <div class="card-body">
                    <ApexChart TItem="AreaDatetimechart" Height="320" Options=DatetimeAreaChartOptions  XAxisType="XAxisType.Datetime">
                        <ApexPointSeries TItem="AreaDatetimechart" Items="AreaDatetimecharts" Name="Series-1"  SeriesType="SeriesType.Area" XValue="@(e => e.DatetimeSeries)" YValue="@(e => e.DatetimeValue)" />
                    </ApexChart>
                </div>
            </div>
        </div>
    </div>
    <!-- End::row-1 -->
</div>

   
<!-- Moment Js -->    
<script src="../assets/libs/moment/moment.js"></script>

@code {

    // Basic Area Chart Start //
    private List<Areabasicchart> Areabasiccharts { get; set; } = AreabasicData.GetAreabasiccharts();
    private ApexChartOptions<Areabasicchart> BasicAreaChartOptions { get; set; } = new();
    public class Areabasicchart {
        public string? StockValue { get; set; }
        public decimal prices { get; set; }
        
    } ;
    public static class AreabasicData {
            public static List<Areabasicchart> GetAreabasiccharts()
            {
                List<Areabasicchart> Areabasiccharts = new List<Areabasicchart>
                {
                    new Areabasicchart { StockValue = "13 Nov 2017", prices = 8107.85M },
                    new Areabasicchart { StockValue = "14 Nov 2017", prices = 8128.0M  },
                    new Areabasicchart { StockValue = "15 Nov 2017", prices = 8122.9M  },
                    new Areabasicchart { StockValue = "16 Nov 2017", prices = 8165.5M  },
                    new Areabasicchart { StockValue = "17 Nov 2017", prices = 8340.7M  },
                    new Areabasicchart { StockValue = "20 Nov 2017", prices = 8423.7M  },
                    new Areabasicchart { StockValue = "21 Nov 2017", prices = 8423.5M  },
                    new Areabasicchart { StockValue = "22 Nov 2017", prices = 8514.3M  },
                    new Areabasicchart { StockValue = "23 Nov 2017", prices = 8481.85M },
                    new Areabasicchart { StockValue = "24 Nov 2017", prices = 8487.7M  },
                    new Areabasicchart { StockValue = "27 Nov 2017", prices = 8506.9M  },
                    new Areabasicchart { StockValue = "28 Nov 2017", prices = 8626.2M  },
                    new Areabasicchart { StockValue = "29 Nov 2017", prices = 8668.95M },
                    new Areabasicchart { StockValue = "30 Nov 2017", prices = 8602.3M  },
                    new Areabasicchart { StockValue = "01 Dec 2017", prices = 8607.55M },
                    new Areabasicchart { StockValue = "04 Dec 2017", prices = 8512.9M  },
                    new Areabasicchart { StockValue = "05 Dec 2017", prices = 8496.25M },
                    new Areabasicchart { StockValue = "06 Dec 2017", prices = 8600.65M },
                    new Areabasicchart { StockValue = "07 Dec 2017", prices = 8881.1M  },
                    new Areabasicchart { StockValue = "08 Dec 2017", prices = 9340.85M },

                };

                return Areabasiccharts;
            }
        }
    //  Basic Area Chart End //

    // Spline Area Chart Start //
    private List<AreaSplinechart> AreaSplinecharts { get; set; } = AreaSplineData.GetAreaSplinecharts();
    private ApexChartOptions<AreaSplinechart> SplineAreaChartOptions { get; set; } = new();
    public class AreaSplinechart {
        public string? SeriesValue { get; set; }
        public decimal Series1Value { get; set; }
        public decimal Series2Value { get; set; }
        
    } ;
    public static class AreaSplineData {
            public static List<AreaSplinechart> GetAreaSplinecharts()
            {
                List<AreaSplinechart> AreaSplinecharts = new List<AreaSplinechart>
                {
                    new AreaSplinechart { SeriesValue = "2018-09-19T00:00:00.000Z", Series1Value = 31  , Series2Value = 11 },
                    new AreaSplinechart { SeriesValue = "2018-09-19T01:30:00.000Z", Series1Value = 40  , Series2Value = 32 },
                    new AreaSplinechart { SeriesValue = "2018-09-19T02:30:00.000Z", Series1Value = 28  , Series2Value = 45 },
                    new AreaSplinechart { SeriesValue = "2018-09-19T03:30:00.000Z", Series1Value = 51  , Series2Value = 32 },
                    new AreaSplinechart { SeriesValue = "2018-09-19T04:30:00.000Z", Series1Value = 42  , Series2Value = 34 },
                    new AreaSplinechart { SeriesValue = "2018-09-19T05:30:00.000Z", Series1Value = 109 , Series2Value = 52 },
                    new AreaSplinechart { SeriesValue = "2018-09-19T06:30:00.000Z", Series1Value = 100 , Series2Value = 41 },

                };

                return AreaSplinecharts;
            }
        }
    //  Spline Area Chart End //

    // Negative Area Chart Start //
    private List<AreaNegativechart> AreaNegativecharts { get; set; } = AreaNegativeData.GetAreaNegativecharts();
    private ApexChartOptions<AreaNegativechart> NegativeAreaChartOptions { get; set; } = new();
    public class AreaNegativechart {
        public string? Year { get; set; }
        public decimal North { get; set; }
        public decimal South { get; set; }
        
    } ;
    public static class AreaNegativeData {
            public static List<AreaNegativechart> GetAreaNegativecharts()
            {
                List<AreaNegativechart> AreaNegativecharts = new List<AreaNegativechart>
                {
                    new AreaNegativechart { Year = "1996", North = 322, South = 162  },
                    new AreaNegativechart { Year = "1997", North = 324, South = 90   },
                    new AreaNegativechart { Year = "1998", North = 329, South = 50   },
                    new AreaNegativechart { Year = "1999", North = 342, South = 77   },
                    new AreaNegativechart { Year = "2000", North = 348, South = 35   },
                    new AreaNegativechart { Year = "2001", North = 334, South = -45  },
                    new AreaNegativechart { Year = "2002", North = 325, South = -88  },
                    new AreaNegativechart { Year = "2003", North = 316, South = -120 },
                    new AreaNegativechart { Year = "2004", North = 318, South = -156 },
                    new AreaNegativechart { Year = "2005", North = 330, South = -123 },
                    new AreaNegativechart { Year = "2006", North = 355, South = -88  },
                    new AreaNegativechart { Year = "2007", North = 366, South = -66  },
                    new AreaNegativechart { Year = "2008", North = 337, South = -45  },
                    new AreaNegativechart { Year = "2009", North = 352, South = -29  },
                    new AreaNegativechart { Year = "2010", North = 377, South = -45  },
                    new AreaNegativechart { Year = "2011", North = 383, South = -88  },
                    new AreaNegativechart { Year = "2012", North = 344, South = -132 },
                    new AreaNegativechart { Year = "2013", North = 366, South = -146 },
                    new AreaNegativechart { Year = "2014", North = 389, South = -169 },
                    new AreaNegativechart { Year = "2015", North = 334, South = -184 },

                };

                return AreaNegativecharts;
            }
        }
    //  Negative Area Chart End //

    // Brush Data Chart Start // 
    public class TimeSeriesGenerator
    {
        public List<TimeSeries> TimeSeries { get; set; } = new();
        public long Range { get; private set; }
        public TimeSeriesGenerator(int points)
        {
            SetRange(points);
            var date = DateTimeOffset.Now.AddDays(-100);
            for (int i = 0; i < points; i++)
            {
                TimeSeries.Add(GenerateNewPoint(date));
                date = date.AddDays(1);
            }
        }
        private void SetRange(int points)
        {
            Range = DateTimeOffset.Now.ToUnixTimeMilliseconds() - DateTimeOffset.Now.AddDays(-points).ToUnixTimeMilliseconds();
        }
        public TimeSeries GenerateNewPoint(DateTimeOffset newDate)
        {
            var rnd = new Random();
            var value = rnd.Next(100, 300);
            return new TimeSeries { Date = newDate, Value = value, Quantity = rnd.Next(100, 200) };
        }
    }
    public class TimeSeries
    {
        public long DateMilliseconds => Date.ToUnixTimeMilliseconds();
        public DateTimeOffset Date { get; set; }
        public decimal Value { get; set; }
        public int Quantity { get; set; }
    }
    private List<TimeSeries> Brushdata { get; set; } = new TimeSeriesGenerator(100).TimeSeries;
    private ApexChartOptions<TimeSeries> BrushAreaChartOptions { get; set; } = new();
    private ApexChartOptions<TimeSeries> Brush2AreaChartOptions { get; set; } = new();
    //  Brush Data Chart End //    

    // Stacked Area Chart Start //
    private List<AreaStackedchart> AreaStackedcharts { get; set; } = AreaStackedData.GetAreaStackedcharts();
    private ApexChartOptions<AreaStackedchart> StackedAreaChartOptions { get; set; } = new();
    public class AreaStackedchart {
        public string? StackedDate { get; set; }
        public decimal South { get; set; }
        public decimal North { get; set; }
        public decimal Central { get; set; }
        
    } ;
    public static class AreaStackedData {
            public static List<AreaStackedchart> GetAreaStackedcharts()
            {
                List<AreaStackedchart> AreaStackedcharts = new List<AreaStackedchart>
                {
                    new AreaStackedchart { StackedDate = "11 Feb 2017", South= 44, North = 16, Central = 11 },
                    new AreaStackedchart { StackedDate = "12 Feb 2017", South= 48, North = 13, Central = 15 },
                    new AreaStackedchart { StackedDate = "13 Feb 2017", South= 16, North = 13, Central = 14 },
                    new AreaStackedchart { StackedDate = "14 Feb 2017", South= 51, North = 13, Central = 14 },
                    new AreaStackedchart { StackedDate = "15 Feb 2017", South= 45, North = 13, Central = 13 },
                    new AreaStackedchart { StackedDate = "16 Feb 2017", South= 24, North = 19, Central = 12 },
                    new AreaStackedchart { StackedDate = "17 Feb 2017", South= 22, North = 19, Central = 11 },
                    new AreaStackedchart { StackedDate = "18 Feb 2017", South= 38, North = 14, Central = 14 },
                    new AreaStackedchart { StackedDate = "19 Feb 2017", South= 20, North = 12, Central = 13 },
                    new AreaStackedchart { StackedDate = "20 Feb 2017", South= 49, North = 20, Central = 13 },
                    new AreaStackedchart { StackedDate = "21 Feb 2017", South= 24, North = 15, Central = 11 },
                    new AreaStackedchart { StackedDate = "22 Feb 2017", South= 34, North = 13, Central = 15 },
                    new AreaStackedchart { StackedDate = "23 Feb 2017", South= 43, North = 13, Central = 14 },
                    new AreaStackedchart { StackedDate = "24 Feb 2017", South= 41, North = 16, Central = 13 },
                    new AreaStackedchart { StackedDate = "25 Feb 2017", South= 17, North = 18, Central = 14 },
                    new AreaStackedchart { StackedDate = "26 Feb 2017", South= 45, North = 19, Central = 12 },
                    new AreaStackedchart { StackedDate = "27 Feb 2017", South= 57, North = 10, Central = 13 },
                    new AreaStackedchart { StackedDate = "28 Feb 2017", South= 29, North = 15, Central = 11 },
                    new AreaStackedchart { StackedDate = "01 Mar 2017", South= 30, North = 15, Central = 10 },
                    new AreaStackedchart { StackedDate = "02 Mar 2017", South= 28, North = 18, Central = 10 },

                };

                return AreaStackedcharts;
            }
        }
    //  Stacked Area Chart End //

    // Irregular Area Chart Start //
    private List<AreaIrregularchart> AreaIrregularcharts { get; set; } = AreaIrregularData.GetAreaIrregularcharts();
    private ApexChartOptions<AreaIrregularchart> IrregularAreaChartOptions { get; set; } = new();
    public class AreaIrregularchart {
        public string? IrregularDate { get; set; }
        public decimal? ProductA { get; set; }
        public decimal? ProductB { get; set; }
        public decimal? ProductC { get; set; }
        
    } ;
    public static class AreaIrregularData {
            public static List<AreaIrregularchart> GetAreaIrregularcharts()
            {
                List<AreaIrregularchart> AreaIrregularcharts = new List<AreaIrregularchart>
                {
                    new AreaIrregularchart { IrregularDate = "01 Jan 2014", ProductA = null, ProductB = null, ProductC = null },
                    new AreaIrregularchart { IrregularDate = "02 Jan 2014", ProductA= 50.00M, ProductB = null, ProductC = null },
                    new AreaIrregularchart { IrregularDate = "03 Jan 2014", ProductA= 60.38M, ProductB = 150.00M, ProductC = null },
                    new AreaIrregularchart { IrregularDate = "04 Jan 2014", ProductA= 40.49M, ProductB = 160.38M, ProductC = null },
                    new AreaIrregularchart { IrregularDate = "05 Jan 2014", ProductA= 60.79M, ProductB = 170.49M, ProductC = null },
                    new AreaIrregularchart { IrregularDate = "06 Jan 2014", ProductA= 67.39M, ProductB = 160.79M, ProductC = null },
                    new AreaIrregularchart { IrregularDate = "07 Jan 2014", ProductA= 61.58M, ProductB = 167.39M, ProductC = null },
                    new AreaIrregularchart { IrregularDate = "08 Jan 2014", ProductA= 61.41M, ProductB = 161.58M, ProductC = 20.00M },
                    new AreaIrregularchart { IrregularDate = "09 Jan 2014", ProductA= 82.18M, ProductB = 161.41M, ProductC = 10.38M },
                    new AreaIrregularchart { IrregularDate = "10 Jan 2014", ProductA= 103.76M, ProductB = 152.18M, ProductC = 30.49M },
                    new AreaIrregularchart { IrregularDate = "11 Jan 2014", ProductA= 84.38M, ProductB = 140.76M, ProductC = 10.79M },
                    new AreaIrregularchart { IrregularDate = "12 Jan 2014", ProductA= 54.35M, ProductB = 144.38M, ProductC = 33.90M },
                    new AreaIrregularchart { IrregularDate = "13 Jan 2014", ProductA= 65.53M, ProductB = 154.35M, ProductC = 11.58M },
                    new AreaIrregularchart { IrregularDate = "14 Jan 2014", ProductA= null, ProductB = 165.53M, ProductC = 14.41M },
                    new AreaIrregularchart { IrregularDate = "15 Jan 2014", ProductA= null, ProductB = 175.75M, ProductC = 14.41M },
                    new AreaIrregularchart { IrregularDate = "16 Jan 2014", ProductA= null, ProductB = 187.06M, ProductC = 14.41M },
                    new AreaIrregularchart { IrregularDate = "17 Jan 2014", ProductA= null, ProductB = 197.52M, ProductC = 14.41M },
                    new AreaIrregularchart { IrregularDate = "18 Jan 2014", ProductA= null, ProductB = 210.18M, ProductC = 14.41M },
                    new AreaIrregularchart { IrregularDate = "19 Jan 2014", ProductA= null, ProductB = 196.12M, ProductC = 14.41M },
                    new AreaIrregularchart { IrregularDate = "20 Jan 2014", ProductA= null, ProductB = 207.34M, ProductC = null },

                };

                return AreaIrregularcharts;
            }
        }
    //  Irregular Area Chart End //

    // NullValues Area Chart Start //
    private List<AreaNullValueschart> AreaNullValuescharts { get; set; } = AreaNullValuesData.GetAreaNullValuescharts();
    private ApexChartOptions<AreaNullValueschart> NullValuesAreaChartOptions { get; set; } = new();
    public class AreaNullValueschart {
        public string? NetworkDate { get; set; }
        public decimal? Network { get; set; }
        
    } ;
    public static class AreaNullValuesData {
            public static List<AreaNullValueschart> GetAreaNullValuescharts()
            {
                List<AreaNullValueschart> AreaNullValuescharts = new List<AreaNullValueschart>
                {
                    new AreaNullValueschart { NetworkDate = "Dec 23 2017", Network = null },
                    new AreaNullValueschart { NetworkDate = "Dec 24 2017", Network = 44  },
                    new AreaNullValueschart { NetworkDate = "Dec 25 2017", Network = 31  },
                    new AreaNullValueschart { NetworkDate = "Dec 26 2017", Network = 38  },
                    new AreaNullValueschart { NetworkDate = "Dec 27 2017", Network = null  },
                    new AreaNullValueschart { NetworkDate = "Dec 28 2017", Network = 32  },
                    new AreaNullValueschart { NetworkDate = "Dec 29 2017", Network = 55  },
                    new AreaNullValueschart { NetworkDate = "Dec 30 2017", Network = 51  },
                    new AreaNullValueschart { NetworkDate = "Dec 31 2017", Network = 67 },
                    new AreaNullValueschart { NetworkDate = "Jan 01 2018", Network = 22  },
                    new AreaNullValueschart { NetworkDate = "Jan 02 2018", Network = 34  },
                    new AreaNullValueschart { NetworkDate = "Jan 03 2018", Network = null  },
                    new AreaNullValueschart { NetworkDate = "Jan 04 2018", Network = null },
                    new AreaNullValueschart { NetworkDate = "Jan 05 2018", Network = 11  },
                    new AreaNullValueschart { NetworkDate = "Jan 06 2018", Network = 4 },
                    new AreaNullValueschart { NetworkDate = "Jan 07 2018", Network = 15  },
                    new AreaNullValueschart { NetworkDate = "Jan 08 2018", Network = null },
                    new AreaNullValueschart { NetworkDate = "Jan 09 2018", Network = 9 },
                    new AreaNullValueschart { NetworkDate = "Jan 10 2018", Network = 34  },
                    new AreaNullValueschart { NetworkDate = "Jan 11 2018", Network = null },
                    new AreaNullValueschart { NetworkDate = "Jan 12 2018", Network = null },
                    new AreaNullValueschart { NetworkDate = "Jan 13 2018", Network = 13 },
                    new AreaNullValueschart { NetworkDate = "Jan 14 2018", Network = null },

                };

                return AreaNullValuescharts;
            }
        }
    //  NullValues Area Chart End //

    // Datetime Area Chart Start //
    private List<AreaDatetimechart> AreaDatetimecharts { get; set; } = AreaDatetimeData.GetAreaDatetimecharts();
    private ApexChartOptions<AreaDatetimechart> DatetimeAreaChartOptions { get; set; } = new();
    public class AreaDatetimechart {
        public DateTime DatetimeSeries { get; set; }
        public decimal DatetimeValue { get; set; }
        
    } ;
    public static class AreaDatetimeData {
            public static List<AreaDatetimechart> GetAreaDatetimecharts()
            {
                List<AreaDatetimechart> AreaDatetimecharts = new List<AreaDatetimechart>
                {
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1327359600000), DatetimeValue = 30.95M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1327446000000), DatetimeValue = 31.34M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1327532400000), DatetimeValue = 31.18M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1327618800000), DatetimeValue = 31.05M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1327878000000), DatetimeValue = 31.00M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1327964400000), DatetimeValue = 30.95M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1328050800000), DatetimeValue = 31.24M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1328137200000), DatetimeValue = 31.29M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1328223600000), DatetimeValue = 31.85M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1328482800000), DatetimeValue = 31.86M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1328569200000), DatetimeValue = 32.28M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1328655600000), DatetimeValue = 32.10M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1328742000000), DatetimeValue = 32.65M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1328828400000), DatetimeValue = 32.21M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1329087600000), DatetimeValue = 32.35M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1329174000000), DatetimeValue = 32.44M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1329260400000), DatetimeValue = 32.46M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1329346800000), DatetimeValue = 32.86M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1329433200000), DatetimeValue = 32.75M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1329778800000), DatetimeValue = 32.54M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1329865200000), DatetimeValue = 32.33M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1329951600000), DatetimeValue = 32.97M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1330038000000), DatetimeValue = 33.41M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1330297200000), DatetimeValue = 33.27M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1330383600000), DatetimeValue = 33.27M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1330470000000), DatetimeValue = 32.89M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1330556400000), DatetimeValue = 33.10M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1330642800000), DatetimeValue = 33.73M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1330902000000), DatetimeValue = 33.22M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1330988400000), DatetimeValue = 31.99M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1331074800000), DatetimeValue = 32.41M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1331161200000), DatetimeValue = 33.05M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1331247600000), DatetimeValue = 33.64M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1331506800000), DatetimeValue = 33.56M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1331593200000), DatetimeValue = 34.22M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1331679600000), DatetimeValue = 33.77M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1331766000000), DatetimeValue = 34.17M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1331852400000), DatetimeValue = 33.82M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1332111600000), DatetimeValue = 34.51M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1332198000000), DatetimeValue = 33.16M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1332284400000), DatetimeValue = 33.56M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1332370800000), DatetimeValue = 33.71M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1332457200000), DatetimeValue = 33.81M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1332712800000), DatetimeValue = 34.40M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1332799200000), DatetimeValue = 34.63M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1332885600000), DatetimeValue = 34.46M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1332972000000), DatetimeValue = 34.48M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1333058400000), DatetimeValue = 34.31M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1333317600000), DatetimeValue = 34.70M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1333404000000), DatetimeValue = 34.31M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1333490400000), DatetimeValue = 33.46M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1333576800000), DatetimeValue = 33.59M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1333922400000), DatetimeValue = 33.22M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1334008800000), DatetimeValue = 32.61M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1334095200000), DatetimeValue = 33.01M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1334181600000), DatetimeValue = 33.55M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1334268000000), DatetimeValue = 33.18M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1334527200000), DatetimeValue = 32.84M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1334613600000), DatetimeValue = 33.84M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1334700000000), DatetimeValue = 33.39M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1334786400000), DatetimeValue = 32.91M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1334872800000), DatetimeValue = 33.06M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1335132000000), DatetimeValue = 32.62M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1335218400000), DatetimeValue = 32.40M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1335304800000), DatetimeValue = 33.13M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1335391200000), DatetimeValue = 33.26M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1335477600000), DatetimeValue = 33.58M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1335736800000), DatetimeValue = 33.55M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1335823200000), DatetimeValue = 33.77M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1335909600000), DatetimeValue = 33.76M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1335996000000), DatetimeValue = 33.32M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1336082400000), DatetimeValue = 32.61M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1336341600000), DatetimeValue = 32.52M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1336428000000), DatetimeValue = 32.67M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1336514400000), DatetimeValue = 32.52M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1336600800000), DatetimeValue = 31.92M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1336687200000), DatetimeValue = 32.20M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1336946400000), DatetimeValue = 32.23M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1337032800000), DatetimeValue = 32.33M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1337119200000), DatetimeValue = 32.36M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1337205600000), DatetimeValue = 32.01M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1337292000000), DatetimeValue = 31.31M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1337551200000), DatetimeValue = 32.01M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1337637600000), DatetimeValue = 32.01M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1337724000000), DatetimeValue = 32.18M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1337810400000), DatetimeValue = 31.54M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1337896800000), DatetimeValue = 31.60M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1338242400000), DatetimeValue = 32.05M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1338328800000), DatetimeValue = 31.29M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1338415200000), DatetimeValue = 31.05M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1338501600000), DatetimeValue = 29.82M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1338760800000), DatetimeValue = 30.31M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1338847200000), DatetimeValue = 30.70M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1338933600000), DatetimeValue = 31.69M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1339020000000), DatetimeValue = 31.32M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1339106400000), DatetimeValue = 31.65M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1339365600000), DatetimeValue = 31.13M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1339452000000), DatetimeValue = 31.77M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1339538400000), DatetimeValue = 31.79M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1339624800000), DatetimeValue = 31.67M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1339711200000), DatetimeValue = 32.39M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1339970400000), DatetimeValue = 32.63M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1340056800000), DatetimeValue = 32.89M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1340143200000), DatetimeValue = 31.99M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1340229600000), DatetimeValue = 31.23M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1340316000000), DatetimeValue = 31.57M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1340575200000), DatetimeValue = 30.84M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1340661600000), DatetimeValue = 31.07M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1340748000000), DatetimeValue = 31.41M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1340834400000), DatetimeValue = 31.17M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1340920800000), DatetimeValue = 32.37M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1341180000000), DatetimeValue = 32.19M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1341266400000), DatetimeValue = 32.51M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1341439200000), DatetimeValue = 32.53M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1341525600000), DatetimeValue = 31.37M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1341784800000), DatetimeValue = 30.43M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1341871200000), DatetimeValue = 30.44M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1341957600000), DatetimeValue = 30.20M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1342044000000), DatetimeValue = 30.14M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1342130400000), DatetimeValue = 30.65M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1342389600000), DatetimeValue = 30.40M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1342476000000), DatetimeValue = 30.65M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1342562400000), DatetimeValue = 31.43M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1342648800000), DatetimeValue = 31.89M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1342735200000), DatetimeValue = 31.38M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1342994400000), DatetimeValue = 30.64M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1343080800000), DatetimeValue = 30.02M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1343167200000), DatetimeValue = 30.33M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1343253600000), DatetimeValue = 30.95M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1343340000000), DatetimeValue = 31.89M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1343599200000), DatetimeValue = 31.01M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1343685600000), DatetimeValue = 30.88M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1343772000000), DatetimeValue = 30.69M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1343858400000), DatetimeValue = 30.58M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1343944800000), DatetimeValue = 32.02M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1344204000000), DatetimeValue = 32.14M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1344290400000), DatetimeValue = 32.37M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1344376800000), DatetimeValue = 32.51M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1344463200000), DatetimeValue = 32.65M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1344549600000), DatetimeValue = 32.64M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1344808800000), DatetimeValue = 32.27M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1344895200000), DatetimeValue = 32.10M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1344981600000), DatetimeValue = 32.91M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1345068000000), DatetimeValue = 33.65M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1345154400000), DatetimeValue = 33.80M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1345413600000), DatetimeValue = 33.92M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1345500000000), DatetimeValue = 33.75M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1345586400000), DatetimeValue = 33.84M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1345672800000), DatetimeValue = 33.50M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1345759200000), DatetimeValue = 32.26M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1346018400000), DatetimeValue = 32.32M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1346104800000), DatetimeValue = 32.06M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1346191200000), DatetimeValue = 31.96M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1346277600000), DatetimeValue = 31.46M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1346364000000), DatetimeValue = 31.27M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1346709600000), DatetimeValue = 31.43M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1346796000000), DatetimeValue = 32.26M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1346882400000), DatetimeValue = 32.79M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1346968800000), DatetimeValue = 32.46M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1347228000000), DatetimeValue = 32.13M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1347314400000), DatetimeValue = 32.43M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1347400800000), DatetimeValue = 32.42M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1347487200000), DatetimeValue = 32.81M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1347573600000), DatetimeValue = 33.34M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1347832800000), DatetimeValue = 33.41M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1347919200000), DatetimeValue = 32.57M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1348005600000), DatetimeValue = 33.12M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1348092000000), DatetimeValue = 34.53M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1348178400000), DatetimeValue = 33.83M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1348437600000), DatetimeValue = 33.41M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1348524000000), DatetimeValue = 32.90M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1348610400000), DatetimeValue = 32.53M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1348696800000), DatetimeValue = 32.80M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1348783200000), DatetimeValue = 32.44M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1349042400000), DatetimeValue = 32.62M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1349128800000), DatetimeValue = 32.57M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1349215200000), DatetimeValue = 32.60M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1349301600000), DatetimeValue = 32.68M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1349388000000), DatetimeValue = 32.47M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1349647200000), DatetimeValue = 32.23M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1349733600000), DatetimeValue = 31.68M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1349820000000), DatetimeValue = 31.51M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1349906400000), DatetimeValue = 31.78M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1349992800000), DatetimeValue = 31.94M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1350252000000), DatetimeValue = 32.33M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1350338400000), DatetimeValue = 33.24M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1350424800000), DatetimeValue = 33.44M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1350511200000), DatetimeValue = 33.48M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1350597600000), DatetimeValue = 33.24M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1350856800000), DatetimeValue = 33.49M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1350943200000), DatetimeValue = 33.31M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1351029600000), DatetimeValue = 33.36M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1351116000000), DatetimeValue = 33.40M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1351202400000), DatetimeValue = 34.01M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1351638000000), DatetimeValue = 34.02M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1351724400000), DatetimeValue = 34.36M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1351810800000), DatetimeValue = 34.39M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1352070000000), DatetimeValue = 34.24M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1352156400000), DatetimeValue = 34.39M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1352242800000), DatetimeValue = 33.47M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1352329200000), DatetimeValue = 32.98M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1352415600000), DatetimeValue = 32.90M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1352674800000), DatetimeValue = 32.70M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1352761200000), DatetimeValue = 32.54M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1352847600000), DatetimeValue = 32.23M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1352934000000), DatetimeValue = 32.64M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1353020400000), DatetimeValue = 32.65M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1353279600000), DatetimeValue = 32.92M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1353366000000), DatetimeValue = 32.64M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1353452400000), DatetimeValue = 32.84M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1353625200000), DatetimeValue = 33.40M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1353884400000), DatetimeValue = 33.30M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1353970800000), DatetimeValue = 33.18M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1354057200000), DatetimeValue = 33.88M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1354143600000), DatetimeValue = 34.09M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1354230000000), DatetimeValue = 34.61M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1354489200000), DatetimeValue = 34.70M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1354575600000), DatetimeValue = 35.30M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1354662000000), DatetimeValue = 35.40M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1354748400000), DatetimeValue = 35.14M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1354834800000), DatetimeValue = 35.48M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1355094000000), DatetimeValue = 35.75M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1355180400000), DatetimeValue = 35.54M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1355266800000), DatetimeValue = 35.96M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1355353200000), DatetimeValue = 35.53M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1355439600000), DatetimeValue = 37.56M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1355698800000), DatetimeValue = 37.42M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1355785200000), DatetimeValue = 37.49M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1355871600000), DatetimeValue = 38.09M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1355958000000), DatetimeValue = 37.87M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1356044400000), DatetimeValue = 37.71M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1356303600000), DatetimeValue = 37.53M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1356476400000), DatetimeValue = 37.55M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1356562800000), DatetimeValue = 37.30M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1356649200000), DatetimeValue = 36.90M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1356908400000), DatetimeValue = 37.68M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1357081200000), DatetimeValue = 38.34M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1357167600000), DatetimeValue = 37.75M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1357254000000), DatetimeValue = 38.13M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1357513200000), DatetimeValue = 37.94M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1357599600000), DatetimeValue = 38.14M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1357686000000), DatetimeValue = 38.66M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1357772400000), DatetimeValue = 38.62M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1357858800000), DatetimeValue = 38.09M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1358118000000), DatetimeValue = 38.16M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1358204400000), DatetimeValue = 38.15M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1358290800000), DatetimeValue = 37.88M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1358377200000), DatetimeValue = 37.73M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1358463600000), DatetimeValue = 37.98M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1358809200000), DatetimeValue = 37.95M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1358895600000), DatetimeValue = 38.25M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1358982000000), DatetimeValue = 38.10M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1359068400000), DatetimeValue = 38.32M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1359327600000), DatetimeValue = 38.24M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1359414000000), DatetimeValue = 38.52M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1359500400000), DatetimeValue = 37.94M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1359586800000), DatetimeValue = 37.83M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1359673200000), DatetimeValue = 38.34M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1359932400000), DatetimeValue = 38.10M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1360018800000), DatetimeValue = 38.51M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1360105200000), DatetimeValue = 38.40M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1360191600000), DatetimeValue = 38.07M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1360278000000), DatetimeValue = 39.12M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1360537200000), DatetimeValue = 38.64M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1360623600000), DatetimeValue = 38.89M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1360710000000), DatetimeValue = 38.81M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1360796400000), DatetimeValue = 38.61M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1360882800000), DatetimeValue = 38.63M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1361228400000), DatetimeValue = 38.99M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1361314800000), DatetimeValue = 38.77M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1361401200000), DatetimeValue = 38.34M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1361487600000), DatetimeValue = 38.55M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1361746800000), DatetimeValue = 38.11M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1361833200000), DatetimeValue = 38.59M},
                    new AreaDatetimechart { DatetimeSeries = new DateTime(1361919600000), DatetimeValue = 39.60M},

                };

                return AreaDatetimecharts;
            }
        }
    //  Datetime Area Chart End //
 
    protected override void OnInitialized() {

        BasicAreaChartOptions = new ApexChartOptions<Areabasicchart> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = true},
                }, 
            }, 
            DataLabels = new DataLabels {
                Enabled=false,
            }, 
            Title = new Title{
                Align = ApexCharts.Align.Left,
                Style = new TitleStyle {
                    FontSize= "13px",
                    FontWeight= "bold",
                    Color= "#8c9097"
                },
            },
            Subtitle = new() {
                Text = "Price Movements",
                Align = ApexCharts.Align.Left,
            },
            Stroke = new Stroke { 
                Curve = Curve.Straight,
            },
            Grid = new Grid {
                BorderColor = "#f2f5f7",
            },
            Colors = new Color(new List<string> { "#845adf" }),
            Xaxis =  new XAxis {  
                Labels = new XAxisLabels {
                    Show = true,
                    Style = new() {
                        Colors = "#8c9097",
                        FontSize = "11px",
                        FontWeight = 600,
                        CssClass = "apexcharts-xaxis-label",
                    },
                }
            },
            Yaxis = new List<YAxis>() {
                new YAxis // Define the first YAxis object
                {
                    Opposite = true,
                    Labels = new YAxisLabels
                    {
                        Show = true,
                        Style = new() {
                            Colors = "#8c9097",
                            FontSize = "11px",
                            FontWeight = 600,
                            CssClass = "apexcharts-yaxis-label",
                        },
                    },
                    Min = 7800,
                    Max = 9600,
                    StepSize = 400,
                }
            },
            Legend = new Legend  { 
                Show=true,
                HorizontalAlign = Align.Left,
            }, 
        };

        SplineAreaChartOptions = new ApexChartOptions<AreaSplinechart> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = true},
                }, 
            }, 
            DataLabels = new DataLabels {
                Enabled=false,
            }, 
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
            },
            Grid = new Grid {
                BorderColor = "#f2f5f7",
            },
            Colors = new Color(new List<string> { "#845adf", "#23b7e5" }),
            Xaxis =  new XAxis {  
                Labels = new XAxisLabels {
                    Show = true,
                    Style = new() {
                        Colors = "#8c9097",
                        FontSize = "11px",
                        FontWeight = 600,
                        CssClass = "apexcharts-xaxis-label",
                    },
                }
            },
            Yaxis = new List<YAxis>() {
                new YAxis // Define the first YAxis object
                {
                    Labels = new YAxisLabels
                    {
                        Show = true,
                        Style = new() {
                            Colors = "#8c9097",
                            FontSize = "11px",
                            FontWeight = 600,
                            CssClass = "apexcharts-yaxis-label",
                        },
                    },
                    Min = 0,
                    Max = 120,
                    StepSize = 30,
                }
            },
            Tooltip = new() {
                X = new(){
                    Format = "dd/MM/yy HH-mm"
                },
            },
        };

        NegativeAreaChartOptions = new ApexChartOptions<AreaNegativechart> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = true, Zoomin = true, Zoomout = true,Pan = true, Reset = true,  Download = true},
                }, 
            }, 
            DataLabels = new DataLabels {
                Enabled=false,
            }, 
            Stroke = new Stroke { 
                Curve = Curve.Straight,
            },
            Title = new Title{
                Text = "Area with Negative Values",
                Align = ApexCharts.Align.Left,
                Style = new TitleStyle {
                    FontSize= "13px",
                    FontWeight= "bold",
                    Color= "#8c9097"
                },
            },
            Grid = new Grid {
                BorderColor = "#f2f5f7",
            },
            Colors = new Color(new List<string> { "#845adf", "#23b7e5" }),
            Xaxis =  new XAxis {  
                Labels = new XAxisLabels {
                    Show = true,
                    Style = new() {
                        Colors = "#8c9097",
                        FontSize = "11px",
                        FontWeight = 600,
                        CssClass = "apexcharts-xaxis-label",
                    },
                }
            },
            Yaxis = new List<YAxis>() {
                new YAxis // Define the first YAxis object
                {
                    Labels = new YAxisLabels
                    {
                        Show = true,
                        Style = new() {
                            Colors = "#8c9097",
                            FontSize = "11px",
                            FontWeight = 600,
                            CssClass = "apexcharts-yaxis-label",
                        },
                    },
                    Min = -200,
                    Max = 400,
                    StepSize = 200,
                }
            },
            Tooltip = new() {
                X = new(){
                    Format = "dd/MM/yy HH-mm"
                },
            },
        };

        BrushAreaChartOptions = new ApexChartOptions<TimeSeries> {
            Chart = new () {
                Id ="chartyear",
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
            }, 
            DataLabels = new DataLabels {
                Enabled=false,
            }, 
            Stroke = new Stroke { 
                Width = 0,
                Curve = Curve.Smooth,
            },
            Title = new Title{
                Text = "Area with Negative Values",
                Align = ApexCharts.Align.Left,
                Style = new TitleStyle {
                    FontSize= "13px",
                    FontWeight= "bold",
                    Color= "#8c9097"
                },
            },
            Grid = new Grid {
                BorderColor = "#f2f5f7",
            },
            Colors = new Color(new List<string> { "#845adf" }),
            Fill = new Fill {
                Type = new List<FillType> { FillType.Solid},
                Opacity = 1,
            },
            Xaxis =  new XAxis {  
                Labels = new XAxisLabels {
                    Show = true,
                    Style = new() {
                        Colors = "#8c9097",
                        FontSize = "11px",
                        FontWeight = 600,
                        CssClass = "apexcharts-xaxis-label",
                    },
                }
            },
            Yaxis = new List<YAxis>() {
                new YAxis // Define the first YAxis object
                {
                    TickAmount = 3,
                    Labels = new YAxisLabels
                    {
                        Show = false,
                        Style = new() {
                            Colors = "#8c9097",
                            FontSize = "11px",
                            FontWeight = 600,
                            CssClass = "apexcharts-yaxis-label",
                        },
                    },
                }
            },
        };  
        
        Brush2AreaChartOptions = new ApexChartOptions<TimeSeries> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                },
                Brush = new() {
                    Enabled = true,
                    Target = "chartyear"
                },
                Selection = new Selection
                {
                    Enabled = true,
                    Xaxis = new SelectionXaxis
                    {
                        Min = 1708281000000,
                        Max = 1710786600000
                    }
                }
            }, 
            DataLabels = new DataLabels {
                Enabled=false,
            }, 
            Stroke = new Stroke { 
                Width = 0,
                Curve = Curve.Straight,
            },
            Title = new Title{
                Text = "Area with Negative Values",
                Align = ApexCharts.Align.Left,
                Style = new TitleStyle {
                    FontSize= "13px",
                    FontWeight= "bold",
                    Color= "#8c9097"
                },
            },
            Grid = new Grid {
                BorderColor = "#f2f5f7",
            },
            Colors = new Color(new List<string> { "#23b7e5" }),
            Fill = new Fill {
                Type = new List<FillType> { FillType.Solid},
                Opacity = 1,
            },
            Xaxis =  new XAxis {  
                Labels = new XAxisLabels {
                    Show = true,
                    Style = new() {
                        Colors = "#8c9097",
                        FontSize = "11px",
                        FontWeight = 600,
                        CssClass = "apexcharts-xaxis-label",
                    },
                }
            },
            Yaxis = new List<YAxis>() {
                new YAxis // Define the first YAxis object
                {
                    TickAmount = 3,
                    Labels = new YAxisLabels
                    {
                        Show = false,
                        Style = new() {
                            Colors = "#8c9097",
                            FontSize = "11px",
                            FontWeight = 600,
                            CssClass = "apexcharts-yaxis-label",
                        },
                    },
                }
            },
        };

        StackedAreaChartOptions = new ApexChartOptions<AreaStackedchart> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = true, Zoomin = true, Zoomout = true,Pan = true, Reset = true,  Download = true},
                }, 
                Stacked = true,
            }, 
            DataLabels = new DataLabels {
                Enabled=false,
            }, 
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
            },
            Grid = new Grid {
                BorderColor = "#f2f5f7",
            },
            Colors = new Color(new List<string> { "#845adf","#23b7e5", "#e6eaeb" }),
            Fill = new Fill {
                Type = new List<FillType> { FillType.Gradient },
                Gradient = new ApexCharts.FillGradient {
                    OpacityFrom = 0.2,
                    OpacityTo = 0.6,
                }
            },
            Xaxis =  new XAxis {  
                Labels = new XAxisLabels {
                    Show = true,
                    Style = new() {
                        Colors = "#8c9097",
                        FontSize = "11px",
                        FontWeight = 600,
                        CssClass = "apexcharts-xaxis-label",
                    },
                }
            },
            Yaxis = new List<YAxis>() {
                new YAxis // Define the first YAxis object
                {
                    Labels = new YAxisLabels
                    {
                        Show = true,
                        Style = new() {
                            Colors = "#8c9097",
                            FontSize = "11px",
                            FontWeight = 600,
                            CssClass = "apexcharts-yaxis-label",
                        },
                    },
                    Min = 0,
                    Max = 100,
                    StepSize = 20,
                }
            },
            Legend = new Legend  { 
                Show=true,
                Position = LegendPosition.Top,
                HorizontalAlign = Align.Left,
                OffsetX = -10
            }, 
        };

        IrregularAreaChartOptions = new ApexChartOptions<AreaIrregularchart> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Stacked = false,
            }, 
            Title = new Title{
                Text = "Product Trends by Month",
                Style = new TitleStyle {
                    FontSize= "13px",
                    FontWeight= "bold",
                    Color= "#8c9097"
                },
            },
            Markers = new Markers { Size = 0 },
            DataLabels = new DataLabels {
                Enabled=false,
            }, 
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
            },
            Grid = new Grid {
                BorderColor = "#f2f5f7",
            },
            Colors = new Color(new List<string> { "#845adf","#23b7e5", "#f5b849" }),
            Fill = new Fill {
                Type = new List<FillType> { FillType.Gradient },
                Gradient = new ApexCharts.FillGradient {
                    Shade = ApexCharts.GradientShade.Light,
                    Type = ApexCharts.GradientType.Vertical,
                    ShadeIntensity = 1,
                    InverseColors = false,
                    OpacityFrom = 0.45,
                    OpacityTo = 0.05,
                    Stops = [20, 100, 100, 100]
                }
            },
            Xaxis =  new XAxis {  
                TickAmount = 8,
                Labels = new XAxisLabels {
                    Rotate = -15,
                    RotateAlways = true,
                    Show = true,
                    Style = new() {
                        Colors = "#8c9097",
                        FontSize = "11px",
                        FontWeight = 600,
                        CssClass = "apexcharts-xaxis-label",
                    },
                }
            },
            Yaxis = new List<YAxis>() {
                new YAxis // Define the first YAxis object
                {
                    Labels = new YAxisLabels
                    {
                        Show = true,
                        Style = new() {
                            Colors = "#8c9097",
                            FontSize = "11px",
                            FontWeight = 600,
                            CssClass = "apexcharts-yaxis-label",
                        },
                        OffsetX = 0,
                    },
                    AxisBorder = new() {
                        Show = false,
                    },
                    AxisTicks = new() {
                        Show = false
                    },
                    Min = 0,
                    Max = 250,
                    StepSize = 50,
                }
            },
            Legend = new Legend  { 
                Show=true,
                Position = LegendPosition.Top,
                HorizontalAlign = Align.Right,
                OffsetX = -10
            }, 
        };
        
        NullValuesAreaChartOptions = new ApexChartOptions<AreaNullValueschart> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = true},
                }, 
                Stacked = false,
            }, 
            Title = new Title{
                Style = new TitleStyle {
                    FontSize= "13px",
                    FontWeight= "bold",
                    Color= "#8c9097"
                },
            },
            Markers = new Markers { 
                Size = 5,
                Hover = new(){
                    Size = 9
                }
            },
            DataLabels = new DataLabels {
                Enabled=false,
            }, 
            Stroke = new Stroke { 
                Curve = Curve.Straight,
            },
            Grid = new Grid {
                BorderColor = "#f2f5f7",
            },
            Colors = new Color(new List<string> { "#845adf"}),
            Fill = new Fill {
                Opacity = 0.8,
                Type = new List<FillType> { FillType.Pattern },
                 Pattern = new FillPattern
                {
                    Style = [ApexCharts.FillPatternStyle.VerticalLines,ApexCharts.FillPatternStyle.HorizontalLines],
                    Width = 5,
                    Height = 6
                },
            },
            Xaxis =  new XAxis {  
                Labels = new XAxisLabels {
                    Show = true,
                    Style = new() {
                        Colors = "#8c9097",
                        FontSize = "11px",
                        FontWeight = 600,
                        CssClass = "apexcharts-xaxis-label",
                    },
                }
            },
            Yaxis = new List<YAxis>() {
                new YAxis // Define the first YAxis object
                {
                    Title = new() {
                        Text = "Bytes Received",
                        Style = new() {
                            Color = "#8c9097",
                        }
                    },
                    Labels = new YAxisLabels
                    {
                        Show = true,
                        Style = new() {
                            Colors = "#8c9097",
                            FontSize = "11px",
                            FontWeight = 600,
                            CssClass = "apexcharts-yaxis-label",
                        },
                    },
                    Min = 0,
                    Max = 80,
                    StepSize = 20,
                }
            },
            Tooltip = new ApexCharts.Tooltip {
                Intersect= true,
                Shared= false
            },
        };

        DatetimeAreaChartOptions = new ApexChartOptions<AreaDatetimechart> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = true, Zoomin = true, Zoomout = true,Pan = true, Reset = true,  Download = true},
                }, 
            }, 
            DataLabels = new DataLabels {
                Enabled=false,
            }, 
            Annotations = new Annotations
            {
                Xaxis = new List<AnnotationsXAxis> {
                    new AnnotationsXAxis
                    {
                        X = 1360191600000, 
                        BorderColor = "#999",
                        Label = new ApexCharts.Label {
                            Text = "Rally",
                            Style = new Style{ Background="#775DD0" , Color="#fff"}
                        },
                    },
                },
                Yaxis = new List<AnnotationsYAxis> { 
                    new AnnotationsYAxis
                    {
                        Y = 30,
                        BorderColor = "#999",
                        Label = new ApexCharts.Label
                        {
                            Text = "Support",
                            Style = new Style { Background = "#00E396", Color="#fff"}
                        },
                        StrokeDashArray = 0
                    },
                }
            },
            Title = new Title{
                Align = ApexCharts.Align.Left,
                Style = new TitleStyle {
                    FontSize= "13px",
                    FontWeight= "bold",
                    Color= "#8c9097"
                },
            },
            Stroke = new Stroke { 
                Curve = Curve.Straight,
            },
            Grid = new Grid {
                BorderColor = "#f2f5f7",
            },
            Colors = new Color(new List<string> { "#845adf" }),
            Xaxis =  new XAxis {  
                Labels = new XAxisLabels {
                    Show = true,
                    Style = new() {
                        Colors = "#8c9097",
                        FontSize = "11px",
                        FontWeight = 600,
                        CssClass = "apexcharts-xaxis-label",
                    },
                }
            },
            Yaxis = new List<YAxis>() {
                new YAxis // Define the first YAxis object
                {
                    Opposite = true,
                    Labels = new YAxisLabels
                    {
                        Show = true,
                        Style = new() {
                            Colors = "#8c9097",
                            FontSize = "11px",
                            FontWeight = 600,
                            CssClass = "apexcharts-yaxis-label",
                        },
                    },
                    Min = 27,
                    Max = 42,
                    StepSize = 3,
                }
            },
            Legend = new Legend  { 
                Show=true,
                HorizontalAlign = Align.Left,
            }, 
        };





    }
}
