@page "/form_dateTime_pickers"
@using FlatpickrBlazor
@using FlatpickrBlazor.Components

    <!-- Flatpickr Css -->
    <link href="_content/FlatpickrBlazor/flatpickr.min.css" rel="stylesheet" />
    <link href="_content/FlatpickrBlazor/plugins/monthSelect/style.css" rel="stylesheet" />

        <div class="container-fluid">
            <!-- Page Header -->
            <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                <h1 class="page-title fw-semibold fs-18 mb-0">Date & Time Pickers</h1>
                <div class="ms-md-1 ms-0">
                    <nav>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Form Elements</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Date & Time Pickers</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Page Header Close -->

            <!-- Start:: row-1 -->
            <div class="row">
                <div class="col-xl-3">
                    <div class="card custom-card">
                        <div class="card-header">
                            <div class="card-title">
                                Basic Date picker
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                    <Flatpickr class="form-control" @ref="_flatpickr" placeholder="Choose date"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="card custom-card">
                        <div class="card-header">
                            <div class="card-title">
                                Date picker With Time
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                    <Flatpickr class="form-control" @ref="_datetime" Options="@_flatpickrOptions2"  placeholder="Choose date with time"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="card custom-card">
                        <div class="card-header">
                            <div class="card-title">
                                Human Friendly dates
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                    <Flatpickr class="form-control" @ref="_humanfrienndlydate" Options="@_humanfrienndlydateOptions" PluginOptions="@humanPluginOptions" placeholder="Human friendly dates"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="card custom-card">
                        <div class="card-header">
                            <div class="card-title">
                                Date range picker
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                    <Flatpickr class="form-control" @ref="_daterange" Options="@_daterangeOptions" placeholder="Date range picker"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End:: row-1 -->

            <!-- Start:: row-2 -->
            <div class="row">
                <div class="col-xl-3">
                    <div class="card custom-card">
                        <div class="card-header">
                            <div class="card-title">
                                Basic Time picker
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-text text-muted"> <i class="ri-time-line"></i> </div>
                                    <Flatpickr class="form-control" @ref="_timepikcr" Options="@_timepikcrOptions" placeholder="Choose time"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="card custom-card">
                        <div class="card-header">
                            <div class="card-title">
                                Time picker with 24hr Format
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-text text-muted"> <i class="ri-time-line"></i> </div>
                                    <Flatpickr class="form-control" @ref="_timepickr1" Options="@_timepickr1Options" placeholder="Choose time in 24hr format"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="card custom-card">
                        <div class="card-header">
                            <div class="card-title">
                                Time Picker with Limits
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-text text-muted"> <i class="ri-time-line"></i> </div>
                                    <Flatpickr class="form-control" @ref="_limittime" Options="@_limittimeOptions" placeholder="choose time min 16:00 to max 22:30" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="card custom-card">
                        <div class="card-header">
                            <div class="card-title">
                                DateTimePicker with Limited Time Range
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-text text-muted"> <i class="ri-time-line"></i> </div>
                                    <Flatpickr class="form-control" @ref="_limitdatetime" Options="@_limitdatetimeOptions" placeholder="date with time limit from 16:00 to 22:00" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End:: row-2 -->

            <!-- Start:: row-3 -->
            <div class="row">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card custom-card">
                                <div class="card-header">
                                    <div class="card-title">
                                        Date Picker with week numbers
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group mb-0">
                                        <div class="input-group">
                                            <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                            <Flatpickr class="form-control" @ref="_weeknum" Options="@_weeknumOptions" placeholder="Choose date" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="card custom-card">
                                <div class="card-header">
                                    <div class="card-title">
                                        Inline Time Picker
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group mb-0">
                                        <Flatpickr class="form-control" @ref="_inlinetime" Options="@_inlinetimeOptions" placeholder="Choose date" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="card custom-card">
                                <div class="card-header">
                                    <div class="card-title">
                                        Preloading time
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group mb-0">
                                        <div class="input-group">
                                            <div class="input-group-text text-muted"> <i class="ri-time-line"></i> </div>
                                            <Flatpickr class="form-control" @ref="_pretime" Options="@_pretimeOptions" placeholder="Preloading time" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-xl-6">
                    <div class="card custom-card">
                        <div class="card-header">
                            <div class="card-title">
                                Inline Calendar
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group overflow-auto">
                                <Flatpickr class="form-control" @ref="_inlinecalendar" Options="@_inlinecalendarOptions" placeholder="Preloading time" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End:: row-3 -->

        </div>
    
@code {
   public Flatpickr? _flatpickr;
    public Flatpickr? _datetime;
    private FlatpickrBlazor.FlatpickrOptions _flatpickrOptions2 = new FlatpickrBlazor.FlatpickrOptions   
    {
        EnableTime = true,
        DateFormat = "Y-m-d H:i",
    };
    public Flatpickr? _humanfrienndlydate;
    private FlatpickrBlazor.FlatpickrOptions _humanfrienndlydateOptions = new FlatpickrBlazor.FlatpickrOptions
    {
        EnableTime = false, // Disable time selection
        DateFormat = "Y-m-d", // Format for submitting the date (e.g., "2024-01-15"),
    };
    private FlatpickrPluginOptions humanPluginOptions = new FlatpickrPluginOptions
    {
        UseMonthSelectPlugin = new FlatpickrPluginOptions.MonthSelectOptions
        {
            ShortHand = false,
            DateFormat = "F j, Y", // Complete date, month, and year format
            AltFormat = "F j, Y", // Alternate format
        },
    };
    public Flatpickr? _daterange;
    private FlatpickrBlazor.FlatpickrOptions _daterangeOptions = new FlatpickrBlazor.FlatpickrOptions
    {
        EnableTime = false, // Disable time selection
        DateFormat = "Y-m-d", // Format for submitting the date (e.g., "2024-01-15"),
        Mode = FlatpickrOptionsMode.Range
    };
    public Flatpickr? _timepikcr;
     private FlatpickrBlazor.FlatpickrOptions _timepikcrOptions = new FlatpickrBlazor.FlatpickrOptions
    {
        EnableTime = true, 
        DateFormat = "H:i",
        NoCalendar = true,
    };
    public Flatpickr? _timepickr1;
     private FlatpickrBlazor.FlatpickrOptions _timepickr1Options = new FlatpickrBlazor.FlatpickrOptions
    {
        EnableTime = true, 
        DateFormat = "H:i",
        NoCalendar = true,
        Time24Hours = true
    };    
    public Flatpickr? _limittime;
    private FlatpickrBlazor.FlatpickrOptions _limittimeOptions = new FlatpickrBlazor.FlatpickrOptions
    {
        EnableTime = true, 
        DateFormat = "H:i",
        NoCalendar = true,
    };    
    public Flatpickr? _limitdatetime;
    private FlatpickrBlazor.FlatpickrOptions _limitdatetimeOptions = new FlatpickrBlazor.FlatpickrOptions
    {
        EnableTime = true, 
        DateFormat = "Y-m-d H:i",
    }; 
    public Flatpickr? _weeknum;
    private FlatpickrBlazor.FlatpickrOptions _weeknumOptions = new FlatpickrBlazor.FlatpickrOptions
    {
        WeekNumbers = true,
    };
    public Flatpickr? _inlinetime;
    private FlatpickrBlazor.FlatpickrOptions _inlinetimeOptions = new FlatpickrBlazor.FlatpickrOptions
    {
        Inline = true,
        EnableTime = true,
        NoCalendar = true,
        DateFormat = "H:i",
    };   
    public Flatpickr? _pretime;
    private FlatpickrBlazor.FlatpickrOptions _pretimeOptions = new FlatpickrBlazor.FlatpickrOptions
    {
        EnableTime = true,
        NoCalendar = true,
        DateFormat = "H:i",
        DefaultDate = new List<string> { "13:45" }
    };
    public Flatpickr? _inlinecalendar;
    private FlatpickrBlazor.FlatpickrOptions _inlinecalendarOptions = new FlatpickrBlazor.FlatpickrOptions
    {
        Inline = true,
    };
}
